{{! app/templates/components/zz-list-item.hbs }}

{{!-- 
{{#if item.isKey}}
  <span class="zz-list-key">{{item.key}}</span>
  <img {{bind-attr src=item.titleImageUrl}}/>
{{else}}
 --}}

	{{ yield item }}

{{!-- 
{{/if}}
--}}
