{{!-- app/templates/components/zz-list.hbs --}}
{{#each result as |item|}}
	{{#if item.groupHeading}}
		<div class="zz-list-heading"> 
			{{item.heading}}
		</div>
	{{else}}
		<li class="zz-list-item">	
			{{yield item}}
		</li>
	{{/if}}
{{/each}}