// app/styles/mixins/_box.scss

// Box mixins
//

@mixin box-sizing($boxModel) {
  -webkit-box-sizing: $boxModel; // Safari <= 5
     -moz-box-sizing: $boxModel; // Firefox <= 19
          box-sizing: $boxModel;
}
