// app/styles/app.scss

// Mixins
@import 'mixins';

// Vendor styles
@import 'vendor/normalize/normalize';
@import 'vendor/susy/susy';
@import 'vendor/breakpoint/breakpoint';

// Overrides
// $someVar: 'here';

// Base styles
@import 'colors';
@import 'typography';
@import "glyphicons";
@import 'components';
@import 'scaffolding';
@import 'forms';

// Bootstrap
// @import 'vendor/bootstrap/styles/bootstrap';
@import 'vendor/bootstrap/styles/bootstrap/variables';
@import 'vendor/bootstrap/styles/bootstrap/mixins';
// @import 'vendor/bootstrap/styles/bootstrap/normalize';
// @import 'vendor/bootstrap/styles/bootstrap/print';
// @import 'vendor/bootstrap/styles/bootstrap/glyphicons';
// @import 'vendor/bootstrap/styles/bootstrap/scaffolding';
// @import 'vendor/bootstrap/styles/bootstrap/type';
// @import 'vendor/bootstrap/styles/bootstrap/code';
// @import 'vendor/bootstrap/styles/bootstrap/grid';
@import 'vendor/bootstrap/styles/bootstrap/tables';
@import 'vendor/bootstrap/styles/bootstrap/forms';
// @import 'vendor/bootstrap/styles/bootstrap/buttons';
// @import 'vendor/bootstrap/styles/bootstrap/navbar';
// @import 'vendor/bootstrap/styles/bootstrap/navs';
// @import 'vendor/bootstrap/styles/bootstrap/utilities';


// Component styles
@import 'zz-alert';
@import 'zz-button';
@import 'zz-button-bar';
@import 'zz-button-group';
@import 'zz-clip-button';
@import 'zz-dropdown';
@import 'zz-dropdown-button-toggle';
@import 'zz-dropdown-menu';
@import 'zz-dropdown-tab-toggle';
@import 'zz-list';
@import 'zz-select';
@import 'zz-tab';
@import 'zz-tab-bar';
@import 'zz-tab-group';
@import 'zz-tooltip';
@import 'zz-statistic';

// View styles
@import 'page';
@import 'common';
@import 'grids';
@import 'full';
@import 'banner';
@import 'master';
@import 'detail';
@import 'list';
@import 'login';
.detail-ribbon {
	display: inline-block;
	min-width: 2560px;
}

.borderless td, .borderless th {
    border: none !important;
}
