
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600);
$font-family-sans-serif:  Raleway,"Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

@import 'vendor/bootstrap/styles/bootstrap';
// @import 'vendor/bootstrap/styles/bootstrap/variables';
// @import 'vendor/bootstrap/styles/bootstrap/mixins';
// @import 'vendor/bootstrap/styles/bootstrap/normalize';
// @import 'vendor/bootstrap/styles/bootstrap/print';
// @import 'vendor/bootstrap/styles/bootstrap/glyphicons';
// @import 'vendor/bootstrap/styles/bootstrap/scaffolding';
// @import 'vendor/bootstrap/styles/bootstrap/type';
// @import 'vendor/bootstrap/styles/bootstrap/code';
// @import 'vendor/bootstrap/styles/bootstrap/grid';
// @import 'vendor/bootstrap/styles/bootstrap/tables';
// @import 'vendor/bootstrap/styles/bootstrap/forms';
// @import 'vendor/bootstrap/styles/bootstrap/buttons';
// @import 'vendor/bootstrap/styles/bootstrap/navbar';
// @import 'vendor/bootstrap/styles/bootstrap/navs';
// @import 'vendor/bootstrap/styles/bootstrap/utilities';

@import 'vendor/normalize/normalize';
@import 'vendor/susy/susy';
@import 'vendor/breakpoint/breakpoint';

@import 'app/styles/mixins.scss';
@import 'app/styles/susy.scss';
@import 'app/styles/breakpoints.scss';

// Colors
// $page-bg: #FFB6C1;
// $full-bg: #FDF5E6;
// $tab-bg: #AB82FF;
// $tab-bd: #1874CD;
// $banner-bg: #DDA0DD;
// $banner-brand-bg: #BA55D3;
// $banner-search-bg: #CDB5CD;
// $banner-ribbon-bg: #FFE1FF;
// $master-bg: #B0C4DE;
// $master-content-bg: #B0C4DE;
// $master-ribbon-bg: #7171C6;
// $master-ribbon-bd: #EFEFEF;
// $detail-bg: #FFFACD;
// $detail-ribbon-bg: #FFE7BA;
// $detail-ribbon-bd: #EFEFEF;
// $detail-content-bg: #EEE5DE;

// Greyscale
$page-bg: #FFFFFF;
$full-bg: #FFFFFF;
$tab-bg: #FFFFFF;
$tab-bd: #1874CD;
$banner-bg: #E8E8E8;
$banner-brand-bg: #E8E8E8;
$banner-search-bg: #E8E8E8;
$banner-ribbon-bg: #E8E8E8;
$master-bg: #FFFFFF;
$master-content-bg: #FFFFFF;
$master-ribbon-bg: #FFFFFF;
$master-ribbon-bd: #EFEFEF;
$detail-bg: #FFFFFF;
$detail-ribbon-bg: #FFFFFF;
$detail-ribbon-bd: #EFEFEF;
$detail-content-bg: #FFFFFF;

// Geometry
$tab-bd-thick: 3px;
$banner-height: 65px;
$banner-brand-width: 200px;
$master-width: 200px;
$master-ribbon-height: 44px;
$detail-ribbon-height: 44px;

@import 'app/styles/page.scss';
@import 'app/styles/full.scss';
@import 'app/styles/tab.scss';
@import 'app/styles/banner.scss';
@import 'app/styles/master.scss';
@import 'app/styles/detail.scss';
@import 'app/styles/login.scss';

.borderless td, .borderless th {
    border: none !important;
}

