
// Breakpoints
$phone: (min-width : 400px) !default;
$phablet: (min-width : 550px) !default;
$tablet: (min-width : 750px) !default;
$desktop: (min-width : 1000px) !default;
$workstation: (min-width : 1200px) !default;
