.banner-logo {
    background-image:url('/assets/images/cb_logo.png');
    -webkit-background-size:93px 33px;
    background-size:93px 33px
}

.gb_kb {
    display:inline-block;
    padding:0 0 0 15px;
    vertical-align:middle
}

.gb_kb:first-child,#gbsfw:first-child+.gb_kb {
    padding-left:0
}

.gb_Za {
    position:relative
}

.gb_D {
    display:inline-block;
    outline:none;
    vertical-align:middle;
    -webkit-border-radius:2px;
    border-radius:2px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height:30px;
    width:30px
}

#gb#gb a.gb_D {
    color:#404040;
    cursor:default;
    text-decoration:none
}

#gb#gb a.gb_D:hover,#gb#gb a.gb_D:focus {
    color:#000
}

.gb_ja {
    border-color:transparent;
    border-bottom-color:#fff;
    border-style:dashed dashed solid;
    border-width:0 8.5px 8.5px;
    display:none;
    position:absolute;
    left:6.5px;
    top:37px;
    z-index:1;
    height:0;
    width:0;
    -webkit-animation:gb__a .2s;
    animation:gb__a .2s
}

.gb_ka {
    border-color:transparent;
    border-style:dashed dashed solid;
    border-width:0 8.5px 8.5px;
    display:none;
    position:absolute;
    left:6.5px;
    z-index:1;
    height:0;
    width:0;
    -webkit-animation:gb__a .2s;
    animation:gb__a .2s;
    border-bottom-color:#ccc;
    border-bottom-color:rgba(0,0,0,.2);
    top:36px
}

x:-o-prefocus,div.gb_ka {
    border-bottom-color:#ccc
}

.gb_H {
    background:#fff;
    border:1px solid #ccc;
    border-color:rgba(0,0,0,.2);
    -webkit-box-shadow:0 2px 10px rgba(0,0,0,.2);
    box-shadow:0 2px 10px rgba(0,0,0,.2);
    display:none;
    outline:none;
    overflow:hidden;
    position:absolute;
    right:0;
    top:44px;
    -webkit-animation:gb__a .2s;
    animation:gb__a .2s;
    -webkit-border-radius:2px;
    border-radius:2px;
    -webkit-user-select:text
}

.gb_kb.gb_La .gb_ja,.gb_kb.gb_La .gb_ka,.gb_kb.gb_La .gb_H {
    display:block
}

.gb_ic {
    position:absolute;
    right:0;
    top:44px;
    z-index:-1
}

.gb_ba .gb_ja,.gb_ba .gb_ka,.gb_ba .gb_H {
    margin-top:-10px
}

.gb_Qc {
    left:0;
    min-width:1177px;
    position:absolute;
    top:0;
    -webkit-user-select:none;
    width:100%
}

.gb_Xb {
    font:13px/27px Arial,sans-serif;
    position:relative;
    height:60px;
    width:100%
}

.gb_ba .gb_Xb {
    height:28px
}

#search-results {
    height:60px
}

#search-results.gb_ba {
    height:28px
}

#search-results.gb_Rc {
    height:90px
}

#search-results.gb_Rc.gb_ba {
    height:58px
}

.gb_Xb>.gb_i {
    height:60px;
    line-height:58px;
    vertical-align:middle
}

.gb_ba .gb_Xb>.gb_i {
    height:28px;
    line-height:26px
}

.gb_Xb::before {
    background:#e5e5e5;
    bottom:0;
    content:'';
    display:block;
    height:1px;
    left:0;
    position:absolute;
    right:0
}

.gb_Xb {
    background:#f1f1f1
}

.gb_Sc .gb_Xb {
    background:#fff
}

.gb_Sc .gb_Xb::before,.gb_ba .gb_Xb::before {
    display:none
}

.gb_n .gb_Xb,.gb_o .gb_Xb,.gb_ba .gb_Xb {
    background:transparent
}

.gb_n .gb_Xb::before {
    background:#e1e1e1;
    background:rgba(0,0,0,.12)
}

.gb_o .gb_Xb::before {
    background:#333;
    background:rgba(255,255,255,.2)
}

.gb_i {
    display:inline-block;
    -webkit-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-flex:0 0 main-size;
    flex:0 0 main-size
}

.gb_i.gb_Tc {
    float:right;
    -webkit-order:1;
    order:1
}

.gb_Uc {
    white-space:nowrap;
    display:-webkit-flex;
    display:flex;
    margin-left:0!important;
    margin-right:0!important
}

.gb_i {
    margin-left:0!important;
    margin-right:0!important
}

.gb_Ta {
    background-image:url(//ssl.gstatic.com/gb/images/v1_376447c3.png);
    -webkit-background-size:112px 2011px;
    background-size:112px 2011px
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_Ta {
    background-image:url(//ssl.gstatic.com/gb/images/v2_dfcf401a.png)
}
}

@-webkit-keyframes gb__a {
0% {
    opacity:0
}

50% {
    opacity:1
}
}

@keyframes gb__a {
0% {
    opacity:0
}

50% {
    opacity:1
}
}

.gb_Zb {
    display:none!important
}

.gb_E .gb_ka {
    border:0;
    border-left:1px solid rgba(0,0,0,.2);
    border-top:1px solid rgba(0,0,0,.2);
    height:14px;
    width:14px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}

.gb_E .gb_ja {
    border:0;
    border-left:1px solid rgba(0,0,0,.2);
    border-top:1px solid rgba(0,0,0,.2);
    height:14px;
    width:14px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    border-color:#fff;
    background:#fff
}

.gb_Xb ::-webkit-scrollbar {
    height:15px;
    width:15px
}

.gb_Xb ::-webkit-scrollbar-button {
    height:0;
    width:0
}

.gb_Xb ::-webkit-scrollbar-thumb {
    background-clip:padding-box;
    background-color:rgba(0,0,0,.3);
    border:5px solid transparent;
    -webkit-border-radius:10px;
    border-radius:10px;
    min-height:20px;
    min-width:20px;
    height:5px;
    width:5px
}

.gb_Xb ::-webkit-scrollbar-thumb:hover,.gb_Xb ::-webkit-scrollbar-thumb:active {
    background-color:rgba(0,0,0,.4)
}

#gb#gb a.gb_f,#gb#gb a.gb_g {
    color:#404040;
    text-decoration:none
}

#gb#gb a.gb_g:hover,#gb#gb a.gb_g:focus {
    color:#000;
    text-decoration:underline
}

.gb_h.gb_i {
    display:none;
    padding-left:15px;
    vertical-align:middle
}

.gb_h.gb_i:first-child {
    padding-left:0
}

.gb_j.gb_i {
    display:inline-block;
    -webkit-flex:0 1 auto;
    flex:0 1 auto;
    -webkit-flex:0 1 main-size;
    flex:0 1 main-size;
    display:-webkit-flex;
    display:flex
}

.gb_k .gb_j {
    display:none
}

.gb_h .gb_g {
    display:inline-block;
    line-height:24px;
    outline:none;
    vertical-align:middle
}

.gb_j .gb_g {
    min-width:60px;
    overflow:hidden;
    -webkit-flex:0 1 auto;
    flex:0 1 auto;
    -webkit-flex:0 1 main-size;
    flex:0 1 main-size;
    text-overflow:ellipsis
}

.gb_l .gb_j .gb_g {
    min-width:0
}

.gb_m .gb_j .gb_g {
    width:0!important
}

.gb_n .gb_g {
    font-weight:700;
    text-shadow:0 1px 1px rgba(255,255,255,.9)
}

.gb_o .gb_g {
    font-weight:700;
    text-shadow:0 1px 1px rgba(0,0,0,.6)
}

#gb#gb.gb_o a.gb_g {
    color:#fff
}

.gb_C .gb_D {
    background-position:0 -735px;
    opacity:.55
}

.gb_n .gb_C .gb_D {
    background-position:0 -597px;
    opacity:.7
}

.gb_o .gb_C .gb_D {
    background-position:-35px -1425px;
    opacity:1
}

.gb_e .gb_C .gb_D::before {
    left:0;
    top:-735px
}

.gb_e.gb_n .gb_C .gb_D::before {
    left:0;
    top:-597px
}

.gb_e.gb_o .gb_C .gb_D::before {
    left:-35px;
    top:-1425px
}

.gb_E .gb_F {
    position:relative
}

.gb_d.gb_d {
    -webkit-background-size:64px 64px;
    background-size:64px 64px
}

#gb2 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/3a1e625196.png)
}

.gb_e #gb2 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/3a1e625196.png')
}

#gb22 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/45e593839c.png)
}

.gb_e #gb22 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/45e593839c.png')
}

#gb45 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/f420d06f66.png)
}

.gb_e #gb45 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/f420d06f66.png')
}

#gb72 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/d197ff63b6.png)
}

.gb_e #gb72 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/d197ff63b6.png')
}

#gb117 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/142da27578.png)
}

.gb_e #gb117 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/142da27578.png')
}

#gb136 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/911e3628e6.png)
}

.gb_e #gb136 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/911e3628e6.png')
}

#gb166 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/5d03e9e245.png)
}

.gb_e #gb166 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/5d03e9e245.png')
}

#gb171 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/010d3c182d.png)
}

.gb_e #gb171 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/010d3c182d.png')
}

#gb177 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/4653513b7d.png)
}

.gb_e #gb177 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/4653513b7d.png')
}

#gb206 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/a031540067.png)
}

.gb_e #gb206 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/a031540067.png')
}

#gb207 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/e57927daa5.png)
}

.gb_e #gb207 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/e57927daa5.png')
}

#gb211 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/c03dda0b34.png)
}

.gb_e #gb211 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/c03dda0b34.png')
}

#gb217 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/71060be5b3.png)
}

.gb_e #gb217 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/71060be5b3.png')
}

#gb228 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/74aa55e0c2.png)
}

.gb_e #gb228 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/74aa55e0c2.png')
}

#gb249 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/afa40f6e42.png)
}

.gb_e #gb249 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/afa40f6e42.png')
}

#gb260 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/a2be8e97ca.png)
}

.gb_e #gb260 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/a2be8e97ca.png')
}

#gb261 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png)
}

.gb_e #gb261 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png')
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
#gb2 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/438087d3df.png)
}

.gb_e #gb2 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/438087d3df.png')
}

#gb22 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/95b1579b0a.png)
}

.gb_e #gb22 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/95b1579b0a.png')
}

#gb45 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/9c561d4392.png)
}

.gb_e #gb45 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/9c561d4392.png')
}

#gb72 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/4dabb39906.png)
}

.gb_e #gb72 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/4dabb39906.png')
}

#gb117 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/e3cbb9b858.png)
}

.gb_e #gb117 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/e3cbb9b858.png')
}

#gb136 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/17bdcddea9.png)
}

.gb_e #gb136 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/17bdcddea9.png')
}

#gb166 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/56c3072e8e.png)
}

.gb_e #gb166 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/56c3072e8e.png')
}

#gb171 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/b877e8648f.png)
}

.gb_e #gb171 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/b877e8648f.png')
}

#gb177 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/188f0d697b.png)
}

.gb_e #gb177 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/188f0d697b.png')
}

#gb206 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/dfd7906be0.png)
}

.gb_e #gb206 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/dfd7906be0.png')
}

#gb207 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/25c96bb17c.png)
}

.gb_e #gb207 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/25c96bb17c.png')
}

#gb211 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/2d7fffa981.png)
}

.gb_e #gb211 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/2d7fffa981.png')
}

#gb217 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/e2c0b463b4.png)
}

.gb_e #gb217 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/e2c0b463b4.png')
}

#gb228 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/fe8c881457.png)
}

.gb_e #gb228 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/fe8c881457.png')
}

#gb249 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/d54db42004.png)
}

.gb_e #gb249 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/d54db42004.png')
}

#gb260 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/c49651e3f7.png)
}

.gb_e #gb260 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/c49651e3f7.png')
}

#gb261 .gb_d {
    background-image:url(//ssl.gstatic.com/gb/images/a/9001dae971.png)
}

.gb_e #gb261 .gb_d::before {
    content:url('//ssl.gstatic.com/gb/images/a/9001dae971.png')
}
}

.gb_p {
    border:1px solid #fff;
    -webkit-border-radius:2px;
    border-radius:2px;
    display:inline-block;
    vertical-align:top;
    height:98px;
    width:86px
}

.gb_p[aria-grabbed=true] {
    visibility:hidden
}

.gb_p:hover:not(.gb_q) {
    border:1px solid #e5e5e5
}

.gb_p.gb_r:not(.gb_q) {
    border:1px solid #e5e5e5;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);
    box-shadow:0 1px 2px rgba(0,0,0,0.1)
}

.gb_p.gb_r {
    background:#fff;
    cursor:-moz-grabbing;
    cursor:-webkit-grabbing;
    margin:-1px;
    visibility:visible;
    z-index:1001
}

.gb_s {
    opacity:.5
}

.gb_p.gb_r a {
    color:#404040!important;
    cursor:-moz-grabbing;
    cursor:-webkit-grabbing;
    font:13px/27px Arial,sans-serif;
    text-decoration:none!important
}

.gb_f {
    display:inline-block;
    font-size:13px;
    margin:8px 2px;
    text-align:center;
    outline:none
}

.gb_f .gb_t,.gb_f .gb_d {
    display:inline-block;
    vertical-align:top;
    height:64px;
    width:64px
}

.gb_u {
    display:block;
    line-height:20px;
    overflow:hidden;
    white-space:nowrap;
    width:84px;
    text-overflow:ellipsis
}

.gb_p:hover .gb_f {
    z-index:1
}

.gb_p:hover .gb_u {
    background:rgba(255,255,255,.9);
    white-space:normal;
    overflow-wrap:break-word;
    word-wrap:break-word
}

.gb_f.gb_q {
    cursor:default;
    filter:url("data:image/svg+xml;utf8,\00003csvg xmlns=\000027http://www.w3.org/2000/svg\000027\00003e\00003cfilter id=\000027g\000027\00003e\00003cfeColorMatrix values=\0000270.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\000027/\00003e\00003c/filter\00003e\00003c/svg\00003e#g");
    -webkit-filter:grayscale(1);
    opacity:.4
}

.gb_f .gb_t {
    background-image:url(//ssl.gstatic.com/gb/images/v1_376447c3.png);
    -webkit-background-size:112px 2011px;
    background-size:112px 2011px
}

.gb_e .gb_f .gb_t,.gb_e .gb_v.gb_t {
    background-image:none;
    overflow:hidden;
    position:relative
}

.gb_e .gb_f .gb_t::before,.gb_e .gb_v.gb_t::before {
    content:url('//ssl.gstatic.com/gb/images/v1_376447c3.png');
    position:absolute
}

.gb_e .gb_d {
    background-image:none!important;
    position:relative
}

.gb_e .gb_d::before {
    left:0;
    position:absolute;
    top:0
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_f .gb_t {
    background-image:url(//ssl.gstatic.com/gb/images/v2_dfcf401a.png)
}

.gb_e .gb_f .gb_t::before {
    content:url('//ssl.gstatic.com/gb/images/v2_dfcf401a.png');
    -webkit-transform:scale(.5);
    transform:scale(.5);
    -webkit-transform-origin:0 0;
    transform-origin:0 0
}

.gb_e .gb_f .gb_d::before {
    -webkit-transform:scale(.5);
    transform:scale(.5);
    -webkit-transform-origin:0 0;
    transform-origin:0 0
}
}

#gb#gb .gb_w a.gb_f:focus {
    text-decoration:underline
}

.gb_p[aria-grabbed=true].gb_x {
    visibility:visible
}

.gb_y,.gb_z {
    position:relative;
    top:27px;
    visibility:hidden
}

.gb_y {
    float:left;
    width:0;
    height:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #4273db
}

.gb_z {
    float:right;
    width:0;
    height:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #4273db
}

ul.gb_A li.gb_x:not(:first-child) .gb_y,ul.gb_A li.gb_x .gb_z,ul.gb_B li.gb_x .gb_y,ul.gb_B li.gb_x:not(:last-child) .gb_z {
    visibility:visible
}

.gb_C .gb_D:hover,.gb_C .gb_D:focus {
    opacity:.85
}

.gb_C .gb_H {
    min-height:196px;
    overflow-y:auto;
    width:320px
}

.gb_I {
    -webkit-transition:height .2s ease-in-out;
    transition:height .2s ease-in-out
}

.gb_J {
    background:#fff;
    margin:0;
    min-height:100px;
    padding:28px;
    padding-right:27px;
    text-align:left;
    white-space:normal;
    width:265px
}

.gb_F {
    background:#f5f5f5;
    cursor:pointer;
    height:40px;
    overflow:hidden
}

.gb_K {
    position:relative
}

.gb_F {
    display:block;
    line-height:40px;
    text-align:center;
    width:320px
}

.gb_K {
    display:block;
    line-height:40px;
    text-align:center
}

.gb_K.gb_L {
    line-height:0
}

#gb a.gb_F,#gb a.gb_F:visited,#gb a.gb_F:active,#gb a.gb_K,#gb a.gb_K:visited {
    color:#737373;
    text-decoration:none
}

#gb a.gb_K:active {
    color:#737373
}

.gb_K,.gb_J {
    display:none
}

.gb_A,.gb_A+.gb_K,.gb_M .gb_K,.gb_M .gb_J {
    display:block
}

#gb a.gb_K:hover,#gb a.gb_K:active {
    text-decoration:underline
}

.gb_K {
    border-bottom:1px solid #ebebeb;
    left:28px;
    width:264px
}

.gb_M .gb_F {
    display:none
}

.gb_K:last-child {
    border-bottom-width:0
}

.gb_N.gb_O {
    height:100px;
    text-align:center
}

.gb_N.gb_O img {
    padding:34px 0;
    height:32px;
    width:32px
}

.gb_N .gb_t {
    background-image:url(//ssl.gstatic.com/gb/images/v1_376447c3.png);
    -webkit-background-size:112px 2011px;
    background-size:112px 2011px;
    background-position:0 -897px
}

.gb_N .gb_t+img {
    border:0;
    margin:8px;
    height:48px;
    width:48px
}

.gb_N div.gb_P {
    background:#ffa;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:5px;
    text-align:center
}

.gb_Q .gb_F {
    margin-top:0;
    position:static
}

.gb_R {
    display:inline-block
}

.gb_S {
    margin:-12px 28px 28px;
    position:relative;
    width:264px;
    -webkit-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);
    box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1)
}

.gb_v {
    background-image:url(//ssl.gstatic.com/gb/images/v1_376447c3.png);
    -webkit-background-size:112px 2011px;
    background-size:112px 2011px;
    display:inline-block;
    margin:8px;
    vertical-align:middle;
    height:64px;
    width:64px
}

.gb_T {
    color:#262626;
    display:inline-block;
    font:13px/18px Arial,sans-serif;
    margin-right:80px;
    padding:10px 10px 10px 0;
    vertical-align:middle;
    white-space:normal
}

.gb_U {
    font:16px/24px Arial,sans-serif
}

#gb#gb .gb_V {
    color:#427fed;
    text-decoration:none
}

#gb#gb .gb_V:hover {
    text-decoration:underline
}

.gb_W .gb_J {
    position:relative
}

.gb_W .gb_f {
    position:absolute;
    top:28px;
    left:28px
}

.gb_F.gb_X {
    display:none;
    height:0
}

.gb_o .gb_C .gb_D:hover,.gb_o .gb_C .gb_D:focus {
    opacity:1
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_N .gb_t {
    background-image:url(//ssl.gstatic.com/gb/images/v2_dfcf401a.png)
}
}

.gb_Z {
    background:#f8f8f8;
    border:1px solid #c6c6c6;
    display:inline-block;
    line-height:28px;
    padding:0 12px;
    -webkit-border-radius:2px;
    border-radius:2px
}

#gb a.gb_Z.gb_Z {
    color:#666;
    cursor:default;
    text-decoration:none
}

.gb_0 {
    border:1px solid #4285f4;
    font-weight:700;
    outline:none;
    background:#4285f4;
    background:-webkit-linear-gradient(top,#4387fd,#4683ea);
    background:linear-gradient(top,#4387fd,#4683ea);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0)
}

#gb a.gb_0.gb_0 {
    color:#fff
}

.gb_0:hover {
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);
    box-shadow:0 1px 0 rgba(0,0,0,.15)
}

.gb_0:active {
    -webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
    background:#3c78dc;
    background:-webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background:linear-gradient(top,#3c7ae4,#3f76d3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0)
}

.gb_1 {
    display:inline-block;
    line-height:normal;
    position:relative;
    z-index:987
}

.gb_7 {
    -webkit-background-size:32px 32px;
    background-size:32px 32px;
    -webkit-border-radius:50%;
    border-radius:50%;
    display:block;
    margin:-1px;
    height:32px;
    width:32px
}

.gb_7:hover,.gb_7:focus {
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);
    box-shadow:0 1px 0 rgba(0,0,0,.15)
}

.gb_7:active {
    -webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow:inset 0 2px 0 rgba(0,0,0,.15)
}

.gb_7:active::after {
    background:rgba(0,0,0,.1);
    -webkit-border-radius:50%;
    border-radius:50%;
    content:'';
    display:block;
    height:100%
}

.gb_8:not(.gb_e) .gb_7::before,.gb_8:not(.gb_e) .gb_9::before {
    content:none
}

.gb_aa {
    cursor:pointer;
    line-height:30px;
    min-width:30px;
    overflow:hidden;
    vertical-align:middle;
    width:auto;
    text-overflow:ellipsis
}

.gb_ba .gb_aa,.gb_ba .gb_ca {
    line-height:26px
}

#gb#gb.gb_ba a.gb_aa,.gb_ba .gb_ca {
    color:#666;
    font-size:11px;
    height:auto
}

#gb#gb.gb_ba a.gb_aa:hover,#gb#gb.gb_ba a.gb_aa:focus {
    color:#000
}

.gb_da {
    border-top:4px solid #404040;
    border-left:4px dashed transparent;
    border-right:4px dashed transparent;
    display:inline-block;
    margin-left:6px;
    vertical-align:middle
}

.gb_ba .gb_da {
    border-top-color:#999
}

.gb_ea:hover .gb_da {
    border-top-color:#000
}

.gb_n .gb_aa {
    font-weight:700;
    text-shadow:0 1px 1px rgba(255,255,255,.9)
}

.gb_o .gb_aa {
    font-weight:700;
    text-shadow:0 1px 1px rgba(0,0,0,.6)
}

#gb#gb.gb_o.gb_o a.gb_aa {
    color:#fff
}

.gb_o.gb_o .gb_da {
    border-top-color:#fff
}

.gb_n .gb_7,.gb_o .gb_7 {
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
    box-shadow:0 1px 2px rgba(0,0,0,.2)
}

.gb_n .gb_7:hover,.gb_o .gb_7:hover,.gb_n .gb_7:focus,.gb_o .gb_7:focus {
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
    box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}

.gb_fa .gb_ga,.gb_ha .gb_ga {
    position:absolute;
    right:1px
}

.gb_ga.gb_i,.gb_ia.gb_i,.gb_ea.gb_i {
    -webkit-flex:0 1 auto;
    flex:0 1 auto;
    -webkit-flex:0 1 main-size;
    flex:0 1 main-size
}

.gb_8.gb_m .gb_aa {
    width:30px!important
}

.gb_aa~.gb_ja,.gb_aa~.gb_ka {
    left:auto;
    right:6.5px
}

.gb_la {
    outline:none
}

#gb a.gb_ma.gb_ma,#gb .gb_na.gb_na a {
    color:#36c;
    text-decoration:none
}

#gb a.gb_ma:active,#gb a.gb_ma:hover,#gb .gb_na a:active,#gb .gb_na a:hover {
    text-decoration:underline
}

.gb_oa {
    margin:20px
}

.gb_pa,.gb_qa {
    display:inline-block;
    vertical-align:top
}

.gb_pa {
    margin-right:20px;
    position:relative
}

.gb_9 {
    -webkit-background-size:96px 96px;
    background-size:96px 96px;
    border:none;
    vertical-align:top;
    height:96px;
    width:96px
}

.gb_ra {
    background:rgba(78,144,254,.7);
    bottom:0;
    color:#fff;
    font-size:9px;
    font-weight:700;
    left:0;
    line-height:9px;
    position:absolute;
    padding:7px 0;
    text-align:center;
    width:96px
}

.gb_sa {
    font-weight:700;
    margin:-4px 0 1px
}

.gb_ta {
    color:#666
}

.gb_na {
    color:#ccc;
    margin:6px 0
}

.gb_na a {
    margin:0 10px
}

.gb_na a:first-child {
    margin-left:0
}

.gb_na a:last-child {
    margin-right:0
}

.gb_qa .gb_Z {
    background:#4d90fe;
    border-color:#3079ed;
    font-weight:700;
    margin:10px 0 0
}

#gb .gb_qa a.gb_Z.gb_Z {
    color:#fff
}

.gb_qa .gb_Z:hover {
    background:#357ae8;
    border-color:#2f5bb7
}

.gb_ua {
    background:#f5f5f5;
    border-top:1px solid #ccc;
    border-color:rgba(0,0,0,.2);
    padding:10px 0;
    width:100%;
    display:table
}

.gb_ua .gb_Z {
    margin:0 20px
}

.gb_ua>div {
    display:table-cell;
    text-align:right
}

.gb_ua>div:first-child {
    text-align:left
}

.gb_ua .gb_va {
    display:block;
    text-align:center
}

.gb_wa .gb_ja {
    border-bottom-color:#fef9db
}

.gb_xa {
    background:#fef9db;
    font-size:11px;
    padding:10px 20px;
    white-space:normal
}

.gb_xa b,.gb_ma {
    white-space:nowrap
}

.gb_ya {
    background:#f5f5f5;
    border-top:1px solid #ccc;
    border-top-color:rgba(0,0,0,.2);
    max-height:230px;
    overflow:auto
}

.gb_za {
    border-top:1px solid #ccc;
    border-top-color:rgba(0,0,0,.2);
    display:block;
    padding:10px 20px
}

.gb_E .gb_za:focus .gb_Aa {
    outline:1px dotted #fff
}

.gb_za:hover {
    background:#eee
}

.gb_za:first-child,.gb_Ba:first-child+.gb_za {
    border-top:0
}

.gb_Ba {
    display:none
}

.gb_Ca {
    cursor:default
}

.gb_Ca:hover {
    background:transparent
}

.gb_Da {
    border:none;
    vertical-align:top;
    height:48px;
    width:48px
}

.gb_Aa {
    display:inline-block;
    margin:6px 0 0 10px
}

.gb_Ca .gb_Da,.gb_Ca .gb_Aa {
    opacity:.4
}

.gb_Ea {
    color:#000
}

.gb_Ca .gb_Ea {
    color:#666
}

.gb_Fa {
    color:#666
}

.gb_Ha {
    background:#f5f5f5;
    border-top:1px solid #ccc;
    border-top-color:rgba(0,0,0,.2);
    display:block;
    padding:10px 20px
}

.gb_Ia {
    background-position:0 -1287px;
    display:inline-block;
    margin:1px 0;
    vertical-align:middle;
    height:25px;
    width:25px
}

.gb_e .gb_Ia::before {
    left:0;
    top:-1287px
}

.gb_Ja {
    color:#427fed;
    display:inline-block;
    padding:0 25px 0 10px;
    vertical-align:middle;
    white-space:normal
}

.gb_Ha:hover .gb_Ja {
    text-decoration:underline
}

#gbsfw {
    min-width:400px;
    overflow:visible
}

.gb_Ka,#gbsfw.gb_La {
    display:block;
    outline:none
}

#gbsfw.gb_P iframe {
    display:none
}

.gb_Ma {
    padding:118px 0;
    text-align:center
}

.gb_Na {
    background:no-repeat center 0;
    color:#aaa;
    font-size:13px;
    line-height:20px;
    padding-top:76px;
    background-image: -webkit-image-set(url('//ssl.gstatic.com/gb/images/a/f5cdd88b65.png') 1x,url('//ssl.gstatic.com/gb/images/a/133fc21e88.png') 2x)
}

.gb_Na a {
    color:#4285f4;
    text-decoration:none
}

.gb_Oa {
    min-width:152px;
    overflow:hidden;
    position:relative;
    z-index:987
}

.gb_Pa {
    position:absolute;
    padding:0 30px
}

.gb_Qa .gb_Pa {
    right:100%;
    margin-right:-152px
}

.gb_Ra {
    display:inline-block;
    outline:none;
    vertical-align:middle
}

.gb_Sa .gb_Ra {
    position:relative;
    top:2px
}

.gb_Ra .gb_Ta,.gb_Ua {
    display:block
}

.gb_Va {
    border:none;
    display:block;
    visibility:hidden
}

.gb_Ra .gb_Ta {
    background-position:0 -1943px;
    height:33px;
    width:92px
}

.gb_Ua {
    background-repeat:no-repeat
}

.gb_o .gb_Ra .gb_Ta {
    background-position:0 -138px;
    margin:-3px 0 0 -10px;
    height:52px;
    width:112px
}

.gb_n .gb_Ra .gb_Ta {
    margin:-3px 0 0 -10px;
    height:52px;
    width:112px;
    background-position:0 -264px
}

.gb_e .gb_Ra .gb_Ta::before {
    left:0;
    top:-1943px
}

.gb_e.gb_o .gb_Ra .gb_Ta::before {
    left:0;
    top:-138px
}

.gb_e.gb_n .gb_Ra .gb_Ta::before {
    left:0;
    top:-264px
}

.gb_e .gb_Ua {
    background-image:none!important
}

.gb_e .gb_Va {
    visibility:visible
}

.gb_E .gb_Wa span {
    background:transparent
}

@-webkit-keyframes gb__nb {
0% {
    -webkit-transform:scale(0,0);
    transform:scale(0,0)
}

20% {
    -webkit-transform:scale(1.4,1.4);
    transform:scale(1.4,1.4)
}

50% {
    -webkit-transform:scale(.8,.8);
    transform:scale(.8,.8)
}

85% {
    -webkit-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1)
}

to {
    -webkit-transform:scale(1.0,1.0);
    transform:scale(1.0,1.0)
}
}

@keyframes gb__nb {
0% {
    -webkit-transform:scale(0,0);
    transform:scale(0,0)
}

20% {
    -webkit-transform:scale(1.4,1.4);
    transform:scale(1.4,1.4)
}

50% {
    -webkit-transform:scale(.8,.8);
    transform:scale(.8,.8)
}

85% {
    -webkit-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1)
}

to {
    -webkit-transform:scale(1.0,1.0);
    transform:scale(1.0,1.0)
}
}

.gb_Xa .gb_Za {
    font-size:14px;
    font-weight:700;
    top:0;
    right:0
}

.gb_Xa .gb_D {
    display:inline-block;
    vertical-align:middle;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height:30px;
    width:30px
}

.gb_0a {
    background-position:0 -1218px;
    opacity:.55;
    height:100%;
    width:100%
}

.gb_D:hover .gb_0a,.gb_D:focus .gb_0a {
    opacity:.85
}

.gb_1a .gb_0a {
    background-position:0 -1981px
}

.gb_2a {
    background-color:#cb4437;
    -webkit-border-radius:8px;
    border-radius:8px;
    font:bold 11px Arial;
    color:#fff;
    line-height:16px;
    min-width:14px;
    padding:0 1px;
    position:absolute;
    right:0;
    text-align:center;
    text-shadow:0 1px 0 rgba(0,0,0,0.1);
    top:0;
    visibility:hidden;
    z-index:990
}

.gb_3a .gb_2a,.gb_3a .gb_4a,.gb_3a .gb_4a.gb_5a {
    visibility:visible
}

.gb_4a {
    padding:0 2px;
    visibility:hidden
}

.gb_Xa:not(.gb_6a) .gb_ka,.gb_Xa:not(.gb_6a) .gb_ja {
    left:3px
}

.gb_Xa .gb_ja {
    border-bottom-color:#e5e5e5
}

.gb_2a.gb_7a {
    -webkit-animation:gb__nb .6s 1s both ease-in-out;
    animation:gb__nb .6s 1s both ease-in-out;
    -webkit-perspective-origin:top right;
    perspective-origin:top right;
    -webkit-transform:scale(1,1);
    transform:scale(1,1);
    -webkit-transform-origin:top right;
    transform-origin:top right
}

.gb_7a .gb_4a {
    visibility:visible
}

.gb_8a {
    background-color:rgba(0,0,0,.55);
    color:#fff;
    font-size:12px;
    font-weight:700;
    line-height:20px;
    margin:5px;
    padding:0 2px;
    text-align:center;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-border-radius:50%;
    border-radius:50%;
    height:20px;
    width:20px
}

.gb_8a.gb_9a {
    background-position:-69px -69px
}

.gb_8a.gb_ab {
    background-position:0 -977px
}

.gb_D:hover .gb_8a,.gb_D:focus .gb_8a {
    background-color:rgba(0,0,0,.85)
}

#gbsfw.gb_bb {
    background:#e5e5e5;
    border-color:#ccc
}

.gb_n .gb_D .gb_0a {
    background-position:-69px -459px;
    opacity:.7
}

.gb_n .gb_1a .gb_0a {
    background-position:0 -1317px
}

.gb_n .gb_D:hover .gb_0a,.gb_n .gb_D:focus .gb_0a {
    opacity:.85
}

.gb_o .gb_D .gb_0a {
    background-position:0 -1356px;
    opacity:1
}

.gb_o .gb_1a .gb_0a {
    background-position:0 -1425px
}

.gb_n .gb_2a,.gb_o .gb_2a {
    border:none;
    -webkit-box-shadow:-1px 1px 1px rgba(0,0,0,.2);
    box-shadow:-1px 1px 1px rgba(0,0,0,.2)
}

.gb_n .gb_8a {
    background-color:rgba(0,0,0,.7);
    -webkit-box-shadow:0 1px 2px rgba(255,255,255,.9);
    box-shadow:0 1px 2px rgba(255,255,255,.9)
}

.gb_o .gb_8a.gb_8a {
    background-color:#fff;
    color:#404040;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
    box-shadow:0 1px 2px rgba(0,0,0,.2)
}

.gb_o .gb_8a.gb_9a {
    background-position:-69px -390px
}

.gb_o .gb_8a.gb_ab {
    background-position:-69px -1598px
}

.gb_3a .gb_8a.gb_8a {
    background-color:#db4437;
    color:#fff
}

.gb_3a .gb_D:hover .gb_8a,.gb_3a .gb_D:focus .gb_8a {
    background-color:#a52714
}

.gb_3a .gb_8a.gb_ab {
    background-position:0 -977px
}

.gb_e .gb_0a::before {
    left:0;
    top:-1218px
}

.gb_e .gb_1a .gb_0a::before {
    left:0;
    top:-1981px
}

.gb_e.gb_n .gb_D .gb_0a::before {
    left:-69px;
    top:-459px
}

.gb_e.gb_n .gb_1a .gb_0a::before {
    left:0;
    top:-1317px
}

.gb_e.gb_o .gb_D .gb_0a::before {
    left:0;
    top:-1356px
}

.gb_e.gb_o .gb_1a .gb_0a::before {
    left:0;
    top:-1425px
}

.gb_E .gb_8a {
    border:1px solid #fff;
    color:#fff
}

.gb_E.gb_n .gb_8a {
    border-color:#000;
    color:#000
}

.gb_e .gb_8a.gb_9a::before,.gb_E.gb_e.gb_o .gb_8a.gb_9a::before {
    left:-69px;
    top:-69px
}

.gb_e .gb_8a.gb_ab::before,.gb_E.gb_e.gb_o .gb_8a.gb_ab::before {
    left:0;
    top:-977px
}

.gb_e.gb_o .gb_8a.gb_9a::before,.gb_E.gb_e.gb_n .gb_8a.gb_9a::before {
    left:-69px;
    top:-390px
}

.gb_e.gb_o .gb_8a.gb_ab::before,.gb_E.gb_e.gb_n .gb_8a.gb_ab::before {
    left:-69px;
    top:-1598px
}

.gb_db {
    display:none;
    margin:28px;
    margin-bottom:-12px;
    outline:none;
    position:relative;
    width:264px;
    z-index:1;
    -webkit-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);
    box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1)
}

.gb_db.gb_La {
    display:block
}

.gb_cb {
    -webkit-background-size:64px 64px;
    background-size:64px 64px;
    display:inline-block;
    margin:12px;
    vertical-align:top;
    height:64px;
    width:64px
}

.gb_fb {
    display:inline-block;
    padding:16px 16px 16px 0;
    vertical-align:top;
    white-space:normal
}

.gb_cb~.gb_fb {
    margin-right:88px
}

.gb_fb:first-child {
    padding-left:16px
}

.gb_gb {
    color:#262626;
    font:16px/24px Arial,sans-serif
}

.gb_hb {
    color:#737373;
    font:13px/18px Arial,sans-serif
}

#gb#gb .gb_db .gb_ib {
    color:#427fed;
    text-decoration:none
}

#gb#gb .gb_db .gb_ib:hover {
    text-decoration:underline
}

.gb_db .gb_eb {
    background-position:0 -632px;
    cursor:pointer;
    opacity:.27;
    outline:none;
    position:absolute;
    right:4px;
    top:4px;
    height:12px;
    width:12px
}

.gb_db .gb_eb:hover {
    opacity:.55
}

.gb_kb.gb_lb {
    padding:0
}

.gb_lb .gb_H {
    padding:26px 26px 22px 13px;
    background:#fff
}

.gb_mb.gb_lb .gb_H {
    background:#4d90fe
}

a.gb_nb {
    color:#666!important;
    font-size:22px;
    height:9px;
    opacity:.8;
    position:absolute;
    right:14px;
    top:4px;
    text-decoration:none!important;
    width:9px
}

.gb_mb a.gb_nb {
    color:#c1d1f4!important
}

a.gb_nb:hover,a.gb_nb:active {
    opacity:1
}

.gb_ob {
    padding:0;
    width:258px;
    white-space:normal;
    display:table
}

.gb_mb .gb_ob {
    width:200px
}

.gb_pb {
    color:#333;
    font-size:16px;
    line-height:20px;
    margin:0;
    margin-bottom:16px
}

.gb_mb .gb_pb {
    color:#fff
}

.gb_qb {
    color:#666;
    line-height:17px;
    margin:0;
    margin-bottom:5px
}

.gb_mb .gb_qb {
    color:#fff
}

.gb_rb {
    position:absolute;
    background:transparent;
    top:-999px;
    z-index:-1;
    visibility:hidden;
    margin-top:1px;
    margin-left:1px
}

#gb .gb_lb {
    margin:0
}

.gb_lb .gb_Z {
    background:#4d90fe;
    border-color:#3079ed;
    margin-top:15px
}

#gb .gb_lb a.gb_Z.gb_Z {
    color:#fff
}

.gb_lb .gb_Z:hover {
    background:#357ae8;
    border-color:#2f5bb7
}

.gb_sb .gb_Za .gb_ja {
    border-bottom-color:#fff;
    display:block
}

.gb_tb .gb_Za .gb_ja {
    border-bottom-color:#4d90fe;
    display:block
}

.gb_sb .gb_Za .gb_ka,.gb_tb .gb_Za .gb_ka {
    display:block
}

.gb_ub,.gb_vb {
    display:table-cell
}

.gb_ub {
    vertical-align:middle
}

.gb_vb {
    padding-left:13px;
    width:100%
}

.gb_wb {
    margin-bottom:32px;
    font-size:small
}

.gb_wb .gb_xb {
    margin-right:5px
}

.gb_wb .gb_yb {
    color:red
}

.gb_zb {
    color:#fff;
    font-size:13px;
    font-weight:700;
    height:25px;
    line-height:19px;
    padding-top:5px;
    padding-left:12px;
    position:relative;
    background-color:#4d90fe
}

.gb_zb .gb_eb {
    color:#fff;
    cursor:default;
    font-size:22px;
    font-weight:400;
    position:absolute;
    right:12px;
    top:5px
}

.gb_zb .gb_ib,.gb_zb .gb_Ab {
    color:#fff;
    display:inline-block;
    font-size:11px;
    margin-left:16px;
    padding:0 8px;
    white-space:nowrap
}

.gb_Bb {
    background:none;
    background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.16)),to(rgba(0,0,0,0.2)));
    background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    background-image:linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    border-radius:2px;
    border:1px solid #dcdcdc;
    border:1px solid rgba(0,0,0,0.1);
    cursor:default!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#160000ff,endColorstr=#220000ff);
    text-decoration:none!important;
    -webkit-border-radius:2px
}

.gb_Bb:hover {
    background:none;
    background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.14)),to(rgba(0,0,0,0.2)));
    background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    background-image:linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    border:1px solid rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#22000000)
}

.gb_Bb:active {
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3)
}

.gb_jb {
    display:none
}

.gb_jb.gb_La {
    display:block
}

.gb_e .gb_cb {
    background-image:none!important
}

.gb_e .gb_cb::before {
    display:inline-block;
    -webkit-transform:scale(.5);
    transform:scale(.5);
    -webkit-transform-origin:0 0;
    transform-origin:0 0
}

.gb_e .gb_db .gb_eb {
    position:absolute
}

.gb_e .gb_db .gb_eb::before {
    left:0;
    top:-632px
}

.gbqfb,.gbqfba,.gbqfbb {
    cursor:default!important;
    display:inline-block;
    font-weight:700;
    height:29px;
    line-height:29px;
    min-width:54px;
    padding:0 8px;
    text-align:center;
    text-decoration:none!important;
    -webkit-border-radius:2px;
    border-radius:2px;
    -webkit-user-select:none
}

.gbqfba:focus {
    border:1px solid #4d90fe;
    outline:none;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    box-shadow:inset 0 0 0 1px #fff
}

.gbqfba:hover {
    border-color:#c6c6c6;
    color:#222!important;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);
    box-shadow:0 1px 0 rgba(0,0,0,.15);
    background:#f8f8f8;
    background:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background:linear-gradient(top,#f8f8f8,#f1f1f1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8,endColorstr=#f1f1f1,GradientType=1)
}

.gbqfba:hover:focus {
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff;
    box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff
}

.gbqfb::-moz-focus-inner {
    border:0
}

.gbqfba::-moz-focus-inner {
    border:0
}

.gbqfba {
    border:1px solid #dcdcdc;
    border-color:rgba(0,0,0,0.1);
    color:#444!important;
    font-size:11px;
    background:#f5f5f5;
    background:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background:linear-gradient(top,#f5f5f5,#f1f1f1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1)
}

.gbqfba:active {
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)
}

.gb_Fb {
    position:relative;
    width:650px;
    z-index:986
}

#gbq2 {
    padding-top:15px
}

.gb_Hb .gb_Fb {
    min-width:200px;
    -webkit-flex:0 2 auto;
    flex:0 2 auto;
    -webkit-flex:0 2 main-size;
    flex:0 2 main-size
}

.gb_l~.gb_Fb {
    min-width:0
}

.gb_Hb #gbqf {
    margin-right:0;
    display:-webkit-flex;
    display:flex
}

.gb_Hb .gbqff {
    min-width:0;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-flex:1 1 main-size;
    flex:1 1 main-size
}

.gb_e .gbqfi::before {
    left:-69px;
    top:-1623px
}

.gb_E .gbqfb:focus .gbqfi {
    outline:1px dotted #fff
}

#gbq2 {
    display:block
}

#gbqf {
    display:block;
    margin:0;
    margin-right:60px;
    white-space:nowrap
}

.gbqff {
    border:none;
    display:inline-block;
    margin:0;
    padding:0;
    vertical-align:top;
    width:100%
}

.gbqfqw,#gbqfb,.gbqfwa {
    vertical-align:top
}

#gbqfaa,#gbqfab,#gbqfqwb {
    position:absolute
}

#gbqfaa {
    left:0
}

#gbqfab {
    right:0
}

.gbqfqwb,.gbqfqwc {
    right:0;
    left:0;
    height:100%
}

.gbqfqwb {
    padding:0 8px
}

#gbqfbw {
    display:inline-block;
    vertical-align:top
}

#gbqfb {
    border:1px solid transparent;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    height:30px;
    margin:0;
    outline:none;
    padding:0;
    width:60px;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background:#4285f4;
    background:-webkit-linear-gradient(top,#4387fd,#4683ea);
    background:linear-gradient(top,#4387fd,#4683ea);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1)
}

#gbqfb:hover {
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);
    box-shadow:0 1px 0 rgba(0,0,0,.15)
}

#gbqfb:focus {
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    box-shadow:inset 0 0 0 1px #fff
}

#gbqfb:hover:focus {
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff;
    box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff
}

#gbqfb:active:active {
    border:1px solid transparent;
    -webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
    background:#3c78dc;
    background:-webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background:linear-gradient(top,#3c7ae4,#3f76d3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=1)
}

.gbqfi {
    background-position:-69px -1623px;
    display:inline-block;
    margin:-1px;
    height:30px;
    width:30px
}

.gbqfqw {
    background:#fff;
    background-clip:padding-box;
    border:1px solid #cdcdcd;
    border-color:rgba(0,0,0,.15);
    border-right-width:0;
    height:30px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

#gbfwc .gbqfqw {
    border-right-width:1px
}

#gbqfqw {
    position:relative
}

.gbqfqw.gbqfqw:hover {
    border-color:#a9a9a9;
    border-color:rgba(0,0,0,.3)
}

.gbqfwa {
    display:inline-block;
    width:100%
}

.gbqfwb {
    width:40%
}

.gbqfwc {
    width:60%
}

.gbqfwb .gbqfqw {
    margin-left:10px
}

.gbqfqw.gbqfqw:active,.gbqfqw.gbqfqwf.gbqfqwf {
    border-color:#4285f4
}

#gbqfq,#gbqfqb,#gbqfqc {
    background:transparent;
    border:none;
    height:20px;
    margin-top:4px;
    padding:0;
    vertical-align:top;
    width:100%
}

#gbqfq:focus,#gbqfqb:focus,#gbqfqc:focus {
    outline:none
}

.gbqfif,.gbqfsf {
    color:#222;
    font:16px arial,sans-serif
}

#gbqfbwa {
    display:none;
    text-align:center;
    height:0
}

#gbqfbwa .gbqfba {
    margin:16px 8px
}

#gbqfsa,#gbqfsb {
    font:bold 11px/27px Arial,sans-serif!important;
    vertical-align:top
}

.gb_n .gbqfqw.gbqfqw,.gb_o .gbqfqw.gbqfqw {
    border-color:rgba(255,255,255,1);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
    box-shadow:0 1px 2px rgba(0,0,0,.2)
}

.gb_n #gbqfb,.gb_o #gbqfb {
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
    box-shadow:0 1px 2px rgba(0,0,0,.2)
}

.gb_n #gbqfb:hover,.gb_o #gbqfb:hover {
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
    box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}

.gb_n #gbqfb:active,.gb_o #gbqfb:active {
    -webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
    box-shadow:inset 0 2px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}

.gb_Tb .gb_D {
    background-position:-69px -666px;
    opacity:.55;
    height:30px;
    width:30px
}

.gb_Tb .gb_D:hover,.gb_Tb .gb_D:focus {
    opacity:.85
}

.gb_Tb .gb_ja {
    border-bottom-color:#f5f5f5
}

#gbsfw.gb_Ub {
    background:#f5f5f5;
    border-color:#ccc
}

.gb_o .gb_Tb .gb_D {
    background-position:0 -942px;
    opacity:1
}

.gb_n .gb_Tb .gb_D {
    background-position:-70px -1981px;
    opacity:.7
}

.gb_n .gb_Tb .gb_D:hover,.gb_n .gb_Tb .gb_D:focus {
    opacity:.85
}

.gb_e .gb_Tb .gb_D::before {
    left:-69px;
    top:-666px
}

.gb_e.gb_n .gb_Tb .gb_D::before {
    left:-70px;
    top:-1981px
}

.gb_e.gb_o .gb_Tb .gb_D::before {
    left:0;
    top:-942px
}

.gb_jc {
    width:480px
}

.gb_kc {
    background:#e7e7e7;
    background:rgba(0,0,0,.04);
    border-bottom-right-radius:0;
    line-height:30px;
    position:relative;
    text-align:center;
    width:100%
}

.gb_kc:hover {
    background:#dbdbdb;
    background:rgba(0,0,0,.08)
}

.gb_kc .gb_lc {
    margin:0 10px
}

.gb_mc {
    position:relative;
    z-index:1
}

.gb_nc {
    background:#eee;
    border-bottom:1px solid #e3e3e3;
    border-left:1px solid #e3e3e3;
    display:inline-block;
    line-height:32px;
    text-align:center;
    width:160px
}

.gb_mc .gb_nc:first-child {
    border-left:none
}

.gb_mc .gb_La {
    background:#fff;
    border-bottom:none
}

.gb_oc {
    display:none;
    text-align:center
}

.gb_oc.gb_La {
    display:block
}

.gb_pc {
    color:inherit;
    display:inline-block;
    padding:15px;
    text-decoration:none
}

.gb_qc {
    background-clip:content-box;
    background-origin:content-box;
    display:inherit;
    height:64px;
    width:64px
}

.gb_rc {
    display:block;
    text-align:center
}

.gb_sc {
    border-top:none;
    top:78px;
    z-index:1;
    -webkit-border-radius:0 0 2px 2px;
    border-radius:0 0 2px 2px
}

.gb_tc {
    display:inline-block;
    vertical-align:middle
}

.gb_uc {
    display:inline-block;
    vertical-align:middle;
    -webkit-background-size:100%;
    background-size:100%;
    height:20px;
    width:20px
}

.gb_vc {
    background-image:url(//ssl.gstatic.com/gb/images/a/5a1c013d3d.png)
}

.gb_wc {
    background-image:url(//ssl.gstatic.com/gb/images/a/de580e5330.png)
}

.gb_xc {
    background-image:url(//ssl.gstatic.com/gb/images/a/451603daf6.png)
}

.gb_tc {
    margin-left:4px
}

.gb_yc {
    margin:5px;
    width:470px
}

.gb_zc {
    border:none;
    display:block;
    margin:0 5px;
    outline:none;
    padding:0 5px;
    height:30px;
    width:450px
}

.gb_Ac {
    border:none;
    display:block;
    margin:0 5px;
    outline:none;
    padding:0 5px;
    height:30px;
    width:450px;
    border-top:1px solid #e3e3e3
}

.gb_Bc {
    border-color:#e3e3e3;
    display:block;
    font:inherit;
    margin:0 5px;
    outline:none;
    padding:5px;
    text-align:left;
    height:320px;
    width:450px
}

.gb_Cc,.gb_Dc {
    border:1px solid #e3e3e3;
    -webkit-border-radius:2px;
    border-radius:2px;
    cursor:pointer;
    line-height:27px;
    margin:5px;
    padding:0 8px;
    width:54px
}

.gb_Cc {
    float:left
}

.gb_Dc {
    float:right
}

.gb_8 {
    min-width:315px;
    padding-left:30px;
    padding-right:30px;
    position:relative;
    text-align:right;
    z-index:986;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:flex-end;
    justify-content:flex-end
}

.gb_8.gb_i {
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-flex:1 1 main-size;
    flex:1 1 main-size
}

.gb_Ec {
    line-height:normal;
    position:relative;
    text-align:left
}

.gb_Ec.gb_i,.gb_Fc.gb_i,.gb_ca.gb_i {
    -webkit-flex:0 1 auto;
    flex:0 1 auto;
    -webkit-flex:0 1 main-size;
    flex:0 1 main-size
}

.gb_Hc,.gb_Ic {
    display:inline-block;
    padding:0 0 0 15px;
    position:relative;
    vertical-align:middle
}

.gb_Fc {
    line-height:normal;
    padding-right:15px
}

.gb_8 .gb_Fc.gb_k {
    padding-right:0
}

.gb_ca {
    color:#404040;
    line-height:30px;
    min-width:30px;
    overflow:hidden;
    vertical-align:middle;
    text-overflow:ellipsis
}

#gb#gb.gb_ba .gb_bc,#gb#gb.gb_ba .gb_Ec>.gb_Ic .gb_cc {
    background:none;
    border:none;
    color:#36c;
    cursor:pointer;
    font-size:11px;
    line-height:26px;
    padding:0;
    -webkit-box-shadow:none;
    box-shadow:none
}

.gb_ba .gb_bc {
    text-transform:uppercase
}

.gb_8.gb_l {
    padding-left:0;
    padding-right:29px
}

.gb_8.gb_Jc {
    max-width:400px
}

.gb_Kc {
    background-clip:content-box;
    background-origin:content-box;
    opacity:.27;
    padding:22px;
    height:16px;
    width:16px
}

.gb_Kc.gb_i {
    display:none
}

.gb_Kc:hover,.gb_Kc:focus {
    opacity:.55
}

.gb_Lc {
    background-position:-69px -825px
}

.gb_Mc {
    background-position:-69px -804px;
    padding-left:30px;
    padding-right:14px;
    position:absolute;
    right:0;
    top:0;
    z-index:990
}

.gb_fa:not(.gb_ha) .gb_Mc,.gb_l .gb_Lc {
    display:inline-block
}

.gb_fa .gb_Lc {
    padding-left:30px;
    padding-right:0;
    width:0
}

.gb_fa:not(.gb_ha) .gb_Nc {
    display:none
}

.gb_8.gb_i.gb_l,.gb_l:not(.gb_ha) .gb_Ec {
    -webkit-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-flex:0 0 main-size;
    flex:0 0 main-size
}

.gb_Kc,.gb_l .gb_Fc,.gb_ha .gb_Ec {
    overflow:hidden
}

.gb_fa .gb_Fc {
    padding-right:0
}

.gb_l .gb_Ec {
    padding:1px 1px 1px 0
}

.gb_fa .gb_Ec {
    width:75px
}

.gb_8.gb_Oc,.gb_8.gb_Oc .gb_Lc,.gb_8.gb_Oc .gb_Lc::before,.gb_8.gb_Oc .gb_Fc,.gb_8.gb_Oc .gb_Ec {
    -webkit-transition:width .5s ease-in-out,min-width .5s ease-in-out,max-width .5s ease-in-out,padding .5s ease-in-out,left .5s ease-in-out;
    transition:width .5s ease-in-out,min-width .5s ease-in-out,max-width .5s ease-in-out,padding .5s ease-in-out,left .5s ease-in-out
}

.gb_Hb .gb_8 {
    min-width:0
}

.gb_8.gb_m,.gb_8.gb_m .gb_Ec,.gb_8.gb_Pc,.gb_8.gb_Pc .gb_Ec {
    min-width:0!important
}

.gb_8.gb_m,.gb_8.gb_m .gb_i {
    -webkit-flex:0 0 auto!important;
    -webkit-flex:0 0 auto!important;
    flex:0 0 auto!important
}

.gb_8.gb_m .gb_ca {
    width:30px!important
}

.gb_n .gb_ca {
    font-weight:700;
    text-shadow:0 1px 1px rgba(255,255,255,.9)
}

.gb_o .gb_ca {
    color:#fff;
    font-weight:700;
    text-shadow:0 1px 1px rgba(0,0,0,.6)
}

.gb_e .gb_Lc::before {
    clip:rect(825px 85px 841px 69px);
    left:-47px;
    top:-803px
}

.gb_e .gb_Ta.gb_Mc {
    position:absolute
}

.gb_e .gb_Mc::before {
    clip:rect(804px 85px 820px 69px);
    left:-39px;
    top:-782px
}

.gb_e .gb_fa .gb_Lc::before {
    left:-39px
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_e .gb_Lc::before {
    clip:rect(1650px 170px 1682px 138px)
}

.gb_e .gb_Mc::before {
    clip:rect(1608px 170px 1640px 138px)
}
}

.gb_e .gb_Ta,.gb_e .gbii,.gb_e .gbip {
    background-image:none;
    overflow:hidden;
    position:relative
}

.gb_e .gb_Ta::before {
    content:url('//ssl.gstatic.com/gb/images/v1_376447c3.png');
    position:absolute
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_e .gb_Ta::before {
    content:url('//ssl.gstatic.com/gb/images/v2_dfcf401a.png');
    -webkit-transform:scale(.5);
    transform:scale(.5);
    -webkit-transform-origin:0 0;
    transform-origin:0 0
}
}

.gb_E a:focus {
    outline:1px dotted #fff!important
}

sentinel {
}

.gbii {
    background-image:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s32-c/photo.jpg)
}

.gbip {
    background-image:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s96-c/photo.jpg)
}

.gbii::before {
    content:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s32-c/photo.jpg);
    position:absolute
}

.gbip::before {
    content:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s96-c/photo.jpg);
    position:absolute
}

@media (min-resolution:1.25dppx),(-o-min-device-pixel-ratio:54),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gbii {
    background-image:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s64-c/photo.jpg)
}

.gbii::before {
    content:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s64-c/photo.jpg)
}

.gbip {
    background-image:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s192-c/photo.jpg)
}

.gbip::before {
    content:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s192-c/photo.jpg)
}

.gbii::before,.gbip::before {
    -webkit-transform:scale(.5);
    -moz-transform:scale(.5);
    -ms-transform:scale(.5);
    -o-transform:scale(.5);
    transform:scale(.5);
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -o-transform-origin:0 0;
    transform-origin:0 0
}
}

#gbq .gbgt-hvr,#gbq .gbgt:focus {
    background-color:transparent;
    background-image:none
}

.gbqfh#gbq1 {
    display:none
}

.gbxx {
    display:none!important
}

#gbq {
    line-height:normal;
    position:relative;
    top:0;
    white-space:nowrap
}

#gbq {
    left:0;
    width:100%
}

#gbq2 {
    top:0;
    z-index:986
}

#gbq4 {
    display:inline-block;
    max-height:29px;
    overflow:hidden;
    position:relative
}

.gbqfh#gbq2 {
    z-index:985
}

.gbqfh#gbq2 {
    margin:0;
    margin-left:0!important;
    padding-top:0;
    position:relative;
    top:310px
}

.gbqfh #gbqf {
    margin:auto;
    min-width:534px;
    padding:0!important
}

.gbqfh #gbqfbw {
    display:none
}

.gbqfh #gbqfbwa {
    display:block
}

.gbqfh #gbqf {
    max-width:512px;
    min-width:200px
}

.gbqfh .gbqfqw {
    border-right-width:1px
}

.gsfe_a.gsfe_a {
    border-right-width:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none
}

.gsfe_b.gsfe_b {
    border-right-width:0;
    border-color:#4285f4;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none
}

.gbqfh .gsfe_a,.gbqfh .gsfe_b {
    border-width:1px
}

.gbm {
    background:#fff;
    border:1px solid #bebebe;
    box-shadow:0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow:-1px 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.2);
    position:absolute;
    top:-999px;
    visibility:hidden;
    z-index:999
}