// app/styles/detail.scss

@import 'susy';
@import 'breakpoints';

// Defaults
$masterWidth: 200px !default;
$masterGutterWidth: 0px !default;
$detailRibbonHeight: 44px !default;
$detailBackgroundColor: $colorWhite !default;
$detailRibbonBackgroundColor: $detailBackgroundColor !default;
$detailRibbonBorderColor: $colorGrayLighter !default;
$detailRibbonBorderThickness: 3px !default;
$detailContentBackgroundColor: $detailBackgroundColor !default;

.detail {
	@include breakpoint($phablet) {
		margin-left: span(1 of 2 ($masterWidth $masterGutterWidth) static wide);
		margin-top: $bannerHeight;
	} 
	background-color: $detailBackgroundColor;
}

.detail-ribbon {
	@include span(100%);
	height: $detailRibbonHeight;
	background-color: $detailRibbonBackgroundColor; 
	border-bottom: $detailRibbonBorderThickness solid $detailRibbonBorderColor;
}

.detail-content {
	@include span(100%);
	overflow-x: hidden !important;
	overflow-y: auto !important;
	background-color: $detailContentBackgroundColor;
}

.detail-inner {
	margin: 15px 15px 25px 15px;
	overflow: hidden; 
}
