html, body {
    height: 100%;
}

.header, .footer {
    float: left;
    height: 40px;
    width: 100%;
    z-index: 100;
}

.header {
    background-color: yellow;
    position: relative;
}

.footer {
    background-color: red;
    bottom: 0;
    position: fixed;
}

.main, .row-fluid {
    height: 100%;
    width: 100%;
}

.main:before, .main:after, .column:before, .column:after {
    content: "";
    display: table;
}

.main:after, .column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
}

.column .padding {
    padding: 20px;
}

.box {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
}

.span9.full {
    width: 100%;
}
