.gb_lb {
  display:inline-block;
  padding:0 0 0 15px;
  vertical-align:middle
}

.gb_lb:first-child,#gbsfw:first-child+.gb_lb {
  padding-left:0
}

.gb_0a {
  position:relative
}

.gb_F {
  display:inline-block;
  outline:none;
  vertical-align:middle;
  -webkit-border-radius:2px;
  border-radius:2px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height:30px;
  width:30px
}

#gb#gb a.gb_F {
  color:#404040;
  cursor:default;
  text-decoration:none
}

#gb#gb a.gb_F:hover,#gb#gb a.gb_F:focus {
  color:#000
}

.gb_la {
  border-color:transparent;
  border-bottom-color:#fff;
  border-style:dashed dashed solid;
  border-width:0 8.5px 8.5px;
  display:none;
  position:absolute;
  left:6.5px;
  top:37px;
  z-index:1;
  height:0;
  width:0;
  -webkit-animation:gb__a .2s;
  animation:gb__a .2s
}

.gb_ma {
  border-color:transparent;
  border-style:dashed dashed solid;
  border-width:0 8.5px 8.5px;
  display:none;
  position:absolute;
  left:6.5px;
  z-index:1;
  height:0;
  width:0;
  -webkit-animation:gb__a .2s;
  animation:gb__a .2s;
  border-bottom-color:#ccc;
  border-bottom-color:rgba(0,0,0,.2);
  top:36px
}

x:-o-prefocus,div.gb_ma {
  border-bottom-color:#ccc
}

.gb_J {
  background:#fff;
  border:1px solid #ccc;
  border-color:rgba(0,0,0,.2);
  -webkit-box-shadow:0 2px 10px rgba(0,0,0,.2);
  box-shadow:0 2px 10px rgba(0,0,0,.2);
  display:none;
  outline:none;
  overflow:hidden;
  position:absolute;
  right:0;
  top:44px;
  -webkit-animation:gb__a .2s;
  animation:gb__a .2s;
  -webkit-border-radius:2px;
  border-radius:2px;
  -webkit-user-select:text
}

.gb_lb.gb_Na .gb_la,.gb_lb.gb_Na .gb_ma,.gb_lb.gb_Na .gb_J {
  display:block
}

.gb_jc {
  position:absolute;
  right:0;
  top:44px;
  z-index:-1
}

.gb_da .gb_la,.gb_da .gb_ma,.gb_da .gb_J {
  margin-top:-10px
}

.gb_Rc {
  left:0;
  min-width:1177px;
  position:absolute;
  top:0;
  -webkit-user-select:none;
  width:100%
}

.gb_Zb {
  font:13px/27px Arial,sans-serif;
  position:relative;
  height:60px;
  width:100%
}

.gb_da .gb_Zb {
  height:28px
}

#gba {
  height:60px
}

#gba.gb_da {
  height:28px
}

#gba.gb_Sc {
  height:90px
}

#gba.gb_Sc.gb_da {
  height:58px
}

.gb_Zb>.gb_k {
  height:60px;
  line-height:58px;
  vertical-align:middle
}

.gb_da .gb_Zb>.gb_k {
  height:28px;
  line-height:26px
}

.gb_Zb::before {
  background:#e5e5e5;
  bottom:0;
  content:'';
  display:block;
  height:1px;
  left:0;
  position:absolute;
  right:0
}

.gb_Zb {
  background:#f1f1f1
}

.gb_Tc .gb_Zb {
  background:#fff
}

.gb_Tc .gb_Zb::before,.gb_da .gb_Zb::before {
  display:none
}

.gb_p .gb_Zb,.gb_q .gb_Zb,.gb_da .gb_Zb {
  background:transparent
}

.gb_p .gb_Zb::before {
  background:#e1e1e1;
  background:rgba(0,0,0,.12)
}

.gb_q .gb_Zb::before {
  background:#333;
  background:rgba(255,255,255,.2)
}

.gb_k {
  display:inline-block;
  -webkit-flex:0 0 auto;
  flex:0 0 auto;
  -webkit-flex:0 0 main-size;
  flex:0 0 main-size
}

.gb_k.gb_Uc {
  float:right;
  -webkit-order:1;
  order:1
}

.gb_Vc {
  white-space:nowrap;
  display:-webkit-flex;
  display:flex;
  margin-left:0!important;
  margin-right:0!important
}

.gb_k {
  margin-left:0!important;
  margin-right:0!important
}

.gb_e {
  background-image:url(//ssl.gstatic.com/gb/images/v1_376447c3.png);
  -webkit-background-size:112px 2011px;
  background-size:112px 2011px
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_e {
  background-image:url(//ssl.gstatic.com/gb/images/v2_dfcf401a.png)
}
}

@-webkit-keyframes gb__a {
0% {
  opacity:0
}

50% {
  opacity:1
}
}

@keyframes gb__a {
0% {
  opacity:0
}

50% {
  opacity:1
}
}

.gb_0b {
  display:none!important
}

.gb_H .gb_ma {
  border:0;
  border-left:1px solid rgba(0,0,0,.2);
  border-top:1px solid rgba(0,0,0,.2);
  height:14px;
  width:14px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg)
}

.gb_H .gb_la {
  border:0;
  border-left:1px solid rgba(0,0,0,.2);
  border-top:1px solid rgba(0,0,0,.2);
  height:14px;
  width:14px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  border-color:#fff;
  background:#fff
}

.gb_Zb ::-webkit-scrollbar {
  height:15px;
  width:15px
}

.gb_Zb ::-webkit-scrollbar-button {
  height:0;
  width:0
}

.gb_Zb ::-webkit-scrollbar-thumb {
  background-clip:padding-box;
  background-color:rgba(0,0,0,.3);
  border:5px solid transparent;
  -webkit-border-radius:10px;
  border-radius:10px;
  min-height:20px;
  min-width:20px;
  height:5px;
  width:5px
}

.gb_Zb ::-webkit-scrollbar-thumb:hover,.gb_Zb ::-webkit-scrollbar-thumb:active {
  background-color:rgba(0,0,0,.4)
}

#gb#gb a.gb_h,#gb#gb a.gb_i {
  color:#404040;
  text-decoration:none
}

#gb#gb a.gb_i:hover,#gb#gb a.gb_i:focus {
  color:#000;
  text-decoration:underline
}

.gb_j.gb_k {
  display:none;
  padding-left:15px;
  vertical-align:middle
}

.gb_j.gb_k:first-child {
  padding-left:0
}

.gb_l.gb_k {
  display:inline-block;
  -webkit-flex:0 1 auto;
  flex:0 1 auto;
  -webkit-flex:0 1 main-size;
  flex:0 1 main-size;
  display:-webkit-flex;
  display:flex
}

.gb_m .gb_l {
  display:none
}

.gb_j .gb_i {
  display:inline-block;
  line-height:24px;
  outline:none;
  vertical-align:middle
}

.gb_l .gb_i {
  min-width:60px;
  overflow:hidden;
  -webkit-flex:0 1 auto;
  flex:0 1 auto;
  -webkit-flex:0 1 main-size;
  flex:0 1 main-size;
  text-overflow:ellipsis
}

.gb_n .gb_l .gb_i {
  min-width:0
}

.gb_o .gb_l .gb_i {
  width:0!important
}

.gb_p .gb_i {
  font-weight:700;
  text-shadow:0 1px 1px rgba(255,255,255,.9)
}

.gb_q .gb_i {
  font-weight:700;
  text-shadow:0 1px 1px rgba(0,0,0,.6)
}

#gb#gb.gb_q a.gb_i {
  color:#fff
}

.gb_E .gb_F {
  background-position:0 -735px;
  opacity:.55
}

.gb_p .gb_E .gb_F {
  background-position:0 -597px;
  opacity:.7
}

.gb_q .gb_E .gb_F {
  background-position:-35px -1425px;
  opacity:1
}

.gb_g .gb_E .gb_F::before {
  left:0;
  top:-735px
}

.gb_g.gb_p .gb_E .gb_F::before {
  left:0;
  top:-597px
}

.gb_g.gb_q .gb_E .gb_F::before {
  left:-35px;
  top:-1425px
}

.gb_H .gb_I {
  position:relative
}

.gb_f.gb_f {
  -webkit-background-size:64px 64px;
  background-size:64px 64px
}

#gb2 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/3a1e625196.png)
}

.gb_g #gb2 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/3a1e625196.png')
}

#gb22 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/45e593839c.png)
}

.gb_g #gb22 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/45e593839c.png')
}

#gb45 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/f420d06f66.png)
}

.gb_g #gb45 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/f420d06f66.png')
}

#gb72 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/d197ff63b6.png)
}

.gb_g #gb72 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/d197ff63b6.png')
}

#gb117 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/142da27578.png)
}

.gb_g #gb117 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/142da27578.png')
}

#gb136 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/911e3628e6.png)
}

.gb_g #gb136 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/911e3628e6.png')
}

#gb166 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/5d03e9e245.png)
}

.gb_g #gb166 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/5d03e9e245.png')
}

#gb171 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/010d3c182d.png)
}

.gb_g #gb171 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/010d3c182d.png')
}

#gb177 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/4653513b7d.png)
}

.gb_g #gb177 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/4653513b7d.png')
}

#gb206 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/a031540067.png)
}

.gb_g #gb206 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/a031540067.png')
}

#gb207 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/e57927daa5.png)
}

.gb_g #gb207 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/e57927daa5.png')
}

#gb211 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/c03dda0b34.png)
}

.gb_g #gb211 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/c03dda0b34.png')
}

#gb217 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/71060be5b3.png)
}

.gb_g #gb217 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/71060be5b3.png')
}

#gb228 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/74aa55e0c2.png)
}

.gb_g #gb228 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/74aa55e0c2.png')
}

#gb249 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/afa40f6e42.png)
}

.gb_g #gb249 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/afa40f6e42.png')
}

#gb260 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/a2be8e97ca.png)
}

.gb_g #gb260 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/a2be8e97ca.png')
}

#gb261 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png)
}

.gb_g #gb261 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png')
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
#gb2 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/438087d3df.png)
}

.gb_g #gb2 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/438087d3df.png')
}

#gb22 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/95b1579b0a.png)
}

.gb_g #gb22 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/95b1579b0a.png')
}

#gb45 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/9c561d4392.png)
}

.gb_g #gb45 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/9c561d4392.png')
}

#gb72 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/4dabb39906.png)
}

.gb_g #gb72 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/4dabb39906.png')
}

#gb117 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/e3cbb9b858.png)
}

.gb_g #gb117 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/e3cbb9b858.png')
}

#gb136 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/17bdcddea9.png)
}

.gb_g #gb136 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/17bdcddea9.png')
}

#gb166 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/56c3072e8e.png)
}

.gb_g #gb166 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/56c3072e8e.png')
}

#gb171 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/b877e8648f.png)
}

.gb_g #gb171 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/b877e8648f.png')
}

#gb177 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/188f0d697b.png)
}

.gb_g #gb177 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/188f0d697b.png')
}

#gb206 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/dfd7906be0.png)
}

.gb_g #gb206 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/dfd7906be0.png')
}

#gb207 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/25c96bb17c.png)
}

.gb_g #gb207 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/25c96bb17c.png')
}

#gb211 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/2d7fffa981.png)
}

.gb_g #gb211 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/2d7fffa981.png')
}

#gb217 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/e2c0b463b4.png)
}

.gb_g #gb217 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/e2c0b463b4.png')
}

#gb228 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/fe8c881457.png)
}

.gb_g #gb228 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/fe8c881457.png')
}

#gb249 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/d54db42004.png)
}

.gb_g #gb249 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/d54db42004.png')
}

#gb260 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/c49651e3f7.png)
}

.gb_g #gb260 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/c49651e3f7.png')
}

#gb261 .gb_f {
  background-image:url(//ssl.gstatic.com/gb/images/a/9001dae971.png)
}

.gb_g #gb261 .gb_f::before {
  content:url('//ssl.gstatic.com/gb/images/a/9001dae971.png')
}
}

.gb_r {
  border:1px solid #fff;
  -webkit-border-radius:2px;
  border-radius:2px;
  display:inline-block;
  vertical-align:top;
  height:98px;
  width:86px
}

.gb_r[aria-grabbed=true] {
  visibility:hidden
}

.gb_r:hover:not(.gb_s) {
  border:1px solid #e5e5e5
}

.gb_r.gb_t:not(.gb_s) {
  border:1px solid #e5e5e5;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);
  box-shadow:0 1px 2px rgba(0,0,0,0.1)
}

.gb_r.gb_t {
  background:#fff;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
  margin:-1px;
  visibility:visible;
  z-index:1001
}

.gb_u {
  opacity:.5
}

.gb_r.gb_t a {
  color:#404040!important;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
  font:13px/27px Arial,sans-serif;
  text-decoration:none!important
}

.gb_h {
  display:inline-block;
  font-size:13px;
  margin:8px 2px;
  text-align:center;
  outline:none
}

.gb_h .gb_v,.gb_h .gb_f {
  display:inline-block;
  vertical-align:top;
  height:64px;
  width:64px
}

.gb_w {
  display:block;
  line-height:20px;
  overflow:hidden;
  white-space:nowrap;
  width:84px;
  text-overflow:ellipsis
}

.gb_r:hover .gb_h {
  z-index:1
}

.gb_r:hover .gb_w {
  background:rgba(255,255,255,.9);
  white-space:normal;
  overflow-wrap:break-word;
  word-wrap:break-word
}

.gb_h.gb_s {
  cursor:default;
  filter:url("data:image/svg+xml;utf8,\00003csvg xmlns=\000027http://www.w3.org/2000/svg\000027\00003e\00003cfilter id=\000027g\000027\00003e\00003cfeColorMatrix values=\0000270.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\000027/\00003e\00003c/filter\00003e\00003c/svg\00003e#g");
  -webkit-filter:grayscale(1);
  opacity:.4
}

.gb_h .gb_v {
  background-image:url(//ssl.gstatic.com/gb/images/v1_376447c3.png);
  -webkit-background-size:112px 2011px;
  background-size:112px 2011px
}

.gb_g .gb_h .gb_v,.gb_g .gb_x.gb_v {
  background-image:none;
  overflow:hidden;
  position:relative
}

.gb_g .gb_h .gb_v::before,.gb_g .gb_x.gb_v::before {
  content:url('//ssl.gstatic.com/gb/images/v1_376447c3.png');
  position:absolute
}

.gb_g .gb_f {
  background-image:none!important;
  position:relative
}

.gb_g .gb_f::before {
  left:0;
  position:absolute;
  top:0
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_h .gb_v {
  background-image:url(//ssl.gstatic.com/gb/images/v2_dfcf401a.png)
}

.gb_g .gb_h .gb_v::before {
  content:url('//ssl.gstatic.com/gb/images/v2_dfcf401a.png');
  -webkit-transform:scale(.5);
  transform:scale(.5);
  -webkit-transform-origin:0 0;
  transform-origin:0 0
}

.gb_g .gb_h .gb_f::before {
  -webkit-transform:scale(.5);
  transform:scale(.5);
  -webkit-transform-origin:0 0;
  transform-origin:0 0
}
}

#gb#gb .gb_y a.gb_h:focus {
  text-decoration:underline
}

.gb_r[aria-grabbed=true].gb_z {
  visibility:visible
}

.gb_A,.gb_B {
  position:relative;
  top:27px;
  visibility:hidden
}

.gb_A {
  float:left;
  width:0;
  height:0;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-right:5px solid #4273db
}

.gb_B {
  float:right;
  width:0;
  height:0;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:5px solid #4273db
}

ul.gb_C li.gb_z:not(:first-child) .gb_A,ul.gb_C li.gb_z .gb_B,ul.gb_D li.gb_z .gb_A,ul.gb_D li.gb_z:not(:last-child) .gb_B {
  visibility:visible
}

.gb_E .gb_F:hover,.gb_E .gb_F:focus {
  opacity:.85
}

.gb_E .gb_J {
  min-height:196px;
  overflow-y:auto;
  width:320px
}

.gb_K {
  -webkit-transition:height .2s ease-in-out;
  transition:height .2s ease-in-out
}

.gb_L {
  background:#fff;
  margin:0;
  min-height:100px;
  padding:28px;
  padding-right:27px;
  text-align:left;
  white-space:normal;
  width:265px
}

.gb_I {
  background:#f5f5f5;
  cursor:pointer;
  height:40px;
  overflow:hidden
}

.gb_M {
  position:relative
}

.gb_I {
  display:block;
  line-height:40px;
  text-align:center;
  width:320px
}

.gb_M {
  display:block;
  line-height:40px;
  text-align:center
}

.gb_M.gb_N {
  line-height:0
}

#gb a.gb_I,#gb a.gb_I:visited,#gb a.gb_I:active,#gb a.gb_M,#gb a.gb_M:visited {
  color:#737373;
  text-decoration:none
}

#gb a.gb_M:active {
  color:#737373
}

.gb_M,.gb_L {
  display:none
}

.gb_C,.gb_C+.gb_M,.gb_O .gb_M,.gb_O .gb_L {
  display:block
}

#gb a.gb_M:hover,#gb a.gb_M:active {
  text-decoration:underline
}

.gb_M {
  border-bottom:1px solid #ebebeb;
  left:28px;
  width:264px
}

.gb_O .gb_I {
  display:none
}

.gb_M:last-child {
  border-bottom-width:0
}

.gb_P.gb_Q {
  height:100px;
  text-align:center
}

.gb_P.gb_Q img {
  padding:34px 0;
  height:32px;
  width:32px
}

.gb_P .gb_v {
  background-image:url(//ssl.gstatic.com/gb/images/v1_376447c3.png);
  -webkit-background-size:112px 2011px;
  background-size:112px 2011px;
  background-position:0 -897px
}

.gb_P .gb_v+img {
  border:0;
  margin:8px;
  height:48px;
  width:48px
}

.gb_P div.gb_R {
  background:#ffa;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding:5px;
  text-align:center
}

.gb_S .gb_I {
  margin-top:0;
  position:static
}

.gb_T {
  display:inline-block
}

.gb_U {
  margin:-12px 28px 28px;
  position:relative;
  width:264px;
  -webkit-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);
  box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1)
}

.gb_x {
  background-image:url(//ssl.gstatic.com/gb/images/v1_376447c3.png);
  -webkit-background-size:112px 2011px;
  background-size:112px 2011px;
  display:inline-block;
  margin:8px;
  vertical-align:middle;
  height:64px;
  width:64px
}

.gb_V {
  color:#262626;
  display:inline-block;
  font:13px/18px Arial,sans-serif;
  margin-right:80px;
  padding:10px 10px 10px 0;
  vertical-align:middle;
  white-space:normal
}

.gb_W {
  font:16px/24px Arial,sans-serif
}

#gb#gb .gb_X {
  color:#427fed;
  text-decoration:none
}

#gb#gb .gb_X:hover {
  text-decoration:underline
}

.gb_Z .gb_L {
  position:relative
}

.gb_Z .gb_h {
  position:absolute;
  top:28px;
  left:28px
}

.gb_I.gb_0 {
  display:none;
  height:0
}

.gb_q .gb_E .gb_F:hover,.gb_q .gb_E .gb_F:focus {
  opacity:1
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_P .gb_v {
  background-image:url(//ssl.gstatic.com/gb/images/v2_dfcf401a.png)
}
}

.gb_1 {
  background:#f8f8f8;
  border:1px solid #c6c6c6;
  display:inline-block;
  line-height:28px;
  padding:0 12px;
  -webkit-border-radius:2px;
  border-radius:2px
}

#gb a.gb_1.gb_1 {
  color:#666;
  cursor:default;
  text-decoration:none
}

.gb_2 {
  border:1px solid #4285f4;
  font-weight:700;
  outline:none;
  background:#4285f4;
  background:-webkit-linear-gradient(top,#4387fd,#4683ea);
  background:linear-gradient(top,#4387fd,#4683ea);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0)
}

#gb a.gb_2.gb_2 {
  color:#fff
}

.gb_2:hover {
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);
  box-shadow:0 1px 0 rgba(0,0,0,.15)
}

.gb_2:active {
  -webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
  box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
  background:#3c78dc;
  background:-webkit-linear-gradient(top,#3c7ae4,#3f76d3);
  background:linear-gradient(top,#3c7ae4,#3f76d3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0)
}

.gb_3 {
  display:inline-block;
  line-height:normal;
  position:relative;
  z-index:987
}

.gb_9 {
  -webkit-background-size:32px 32px;
  background-size:32px 32px;
  -webkit-border-radius:50%;
  border-radius:50%;
  display:block;
  margin:-1px;
  height:32px;
  width:32px
}

.gb_9:hover,.gb_9:focus {
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);
  box-shadow:0 1px 0 rgba(0,0,0,.15)
}

.gb_9:active {
  -webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
  box-shadow:inset 0 2px 0 rgba(0,0,0,.15)
}

.gb_9:active::after {
  background:rgba(0,0,0,.1);
  -webkit-border-radius:50%;
  border-radius:50%;
  content:'';
  display:block;
  height:100%
}

.gb_aa:not(.gb_g) .gb_9::before,.gb_aa:not(.gb_g) .gb_ba::before {
  content:none
}

.gb_ca {
  cursor:pointer;
  line-height:30px;
  min-width:30px;
  overflow:hidden;
  vertical-align:middle;
  width:auto;
  text-overflow:ellipsis
}

.gb_da .gb_ca,.gb_da .gb_ea {
  line-height:26px
}

#gb#gb.gb_da a.gb_ca,.gb_da .gb_ea {
  color:#666;
  font-size:11px;
  height:auto
}

#gb#gb.gb_da a.gb_ca:hover,#gb#gb.gb_da a.gb_ca:focus {
  color:#000
}

.gb_fa {
  border-top:4px solid #404040;
  border-left:4px dashed transparent;
  border-right:4px dashed transparent;
  display:inline-block;
  margin-left:6px;
  vertical-align:middle
}

.gb_da .gb_fa {
  border-top-color:#999
}

.gb_ga:hover .gb_fa {
  border-top-color:#000
}

.gb_p .gb_ca {
  font-weight:700;
  text-shadow:0 1px 1px rgba(255,255,255,.9)
}

.gb_q .gb_ca {
  font-weight:700;
  text-shadow:0 1px 1px rgba(0,0,0,.6)
}

#gb#gb.gb_q.gb_q a.gb_ca {
  color:#fff
}

.gb_q.gb_q .gb_fa {
  border-top-color:#fff
}

.gb_p .gb_9,.gb_q .gb_9 {
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
  box-shadow:0 1px 2px rgba(0,0,0,.2)
}

.gb_p .gb_9:hover,.gb_q .gb_9:hover,.gb_p .gb_9:focus,.gb_q .gb_9:focus {
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
  box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}

.gb_ha .gb_ia,.gb_ja .gb_ia {
  position:absolute;
  right:1px
}

.gb_ia.gb_k,.gb_ka.gb_k,.gb_ga.gb_k {
  -webkit-flex:0 1 auto;
  flex:0 1 auto;
  -webkit-flex:0 1 main-size;
  flex:0 1 main-size
}

.gb_aa.gb_o .gb_ca {
  width:30px!important
}

.gb_ca~.gb_la,.gb_ca~.gb_ma {
  left:auto;
  right:6.5px
}

.gb_na {
  outline:none
}

#gb a.gb_oa.gb_oa,#gb .gb_pa.gb_pa a {
  color:#36c;
  text-decoration:none
}

#gb a.gb_oa:active,#gb a.gb_oa:hover,#gb .gb_pa a:active,#gb .gb_pa a:hover {
  text-decoration:underline
}

.gb_qa {
  margin:20px
}

.gb_ra,.gb_sa {
  display:inline-block;
  vertical-align:top
}

.gb_ra {
  margin-right:20px;
  position:relative
}

.gb_ba {
  -webkit-background-size:96px 96px;
  background-size:96px 96px;
  border:none;
  vertical-align:top;
  height:96px;
  width:96px
}

.gb_ta {
  background:rgba(78,144,254,.7);
  bottom:0;
  color:#fff;
  font-size:9px;
  font-weight:700;
  left:0;
  line-height:9px;
  position:absolute;
  padding:7px 0;
  text-align:center;
  width:96px
}

.gb_ua {
  font-weight:700;
  margin:-4px 0 1px
}

.gb_va {
  color:#666
}

.gb_pa {
  color:#ccc;
  margin:6px 0
}

.gb_pa a {
  margin:0 10px
}

.gb_pa a:first-child {
  margin-left:0
}

.gb_pa a:last-child {
  margin-right:0
}

.gb_sa .gb_1 {
  background:#4d90fe;
  border-color:#3079ed;
  font-weight:700;
  margin:10px 0 0
}

#gb .gb_sa a.gb_1.gb_1 {
  color:#fff
}

.gb_sa .gb_1:hover {
  background:#357ae8;
  border-color:#2f5bb7
}

.gb_wa {
  background:#f5f5f5;
  border-top:1px solid #ccc;
  border-color:rgba(0,0,0,.2);
  padding:10px 0;
  width:100%;
  display:table
}

.gb_wa .gb_1 {
  margin:0 20px
}

.gb_wa>div {
  display:table-cell;
  text-align:right
}

.gb_wa>div:first-child {
  text-align:left
}

.gb_wa .gb_xa {
  display:block;
  text-align:center
}

.gb_ya .gb_la {
  border-bottom-color:#fef9db
}

.gb_za {
  background:#fef9db;
  font-size:11px;
  padding:10px 20px;
  white-space:normal
}

.gb_za b,.gb_oa {
  white-space:nowrap
}

.gb_Aa {
  background:#f5f5f5;
  border-top:1px solid #ccc;
  border-top-color:rgba(0,0,0,.2);
  max-height:230px;
  overflow:auto
}

.gb_Ba {
  border-top:1px solid #ccc;
  border-top-color:rgba(0,0,0,.2);
  display:block;
  padding:10px 20px
}

.gb_H .gb_Ba:focus .gb_Ca {
  outline:1px dotted #fff
}

.gb_Ba:hover {
  background:#eee
}

.gb_Ba:first-child,.gb_Da:first-child+.gb_Ba {
  border-top:0
}

.gb_Da {
  display:none
}

.gb_Ea {
  cursor:default
}

.gb_Ea:hover {
  background:transparent
}

.gb_Fa {
  border:none;
  vertical-align:top;
  height:48px;
  width:48px
}

.gb_Ca {
  display:inline-block;
  margin:6px 0 0 10px
}

.gb_Ea .gb_Fa,.gb_Ea .gb_Ca {
  opacity:.4
}

.gb_Ha {
  color:#000
}

.gb_Ea .gb_Ha {
  color:#666
}

.gb_Ia {
  color:#666
}

.gb_Ja {
  background:#f5f5f5;
  border-top:1px solid #ccc;
  border-top-color:rgba(0,0,0,.2);
  display:block;
  padding:10px 20px
}

.gb_Ka {
  background-position:0 -1287px;
  display:inline-block;
  margin:1px 0;
  vertical-align:middle;
  height:25px;
  width:25px
}

.gb_g .gb_Ka::before {
  left:0;
  top:-1287px
}

.gb_La {
  color:#427fed;
  display:inline-block;
  padding:0 25px 0 10px;
  vertical-align:middle;
  white-space:normal
}

.gb_Ja:hover .gb_La {
  text-decoration:underline
}

#gbsfw {
  min-width:400px;
  overflow:visible
}

.gb_Ma,#gbsfw.gb_Na {
  display:block;
  outline:none
}

#gbsfw.gb_R iframe {
  display:none
}

.gb_Oa {
  padding:118px 0;
  text-align:center
}

.gb_Pa {
  background:no-repeat center 0;
  color:#aaa;
  font-size:13px;
  line-height:20px;
  padding-top:76px;
  background-image:-webkit-image-set(url(//ssl.gstatic.com/gb/images/a/f5cdd88b65.png) 1x,url(//ssl.gstatic.com/gb/images/a/133fc21e88.png) 2x)
}

.gb_Pa a {
  color:#4285f4;
  text-decoration:none
}

.gb_Qa {
  min-width:152px;
  overflow:hidden;
  position:relative;
  z-index:987
}

.gb_Ra {
  position:absolute;
  padding:0 30px
}

.gb_Sa .gb_Ra {
  right:100%;
  margin-right:-152px
}

.gb_Ta {
  display:inline-block;
  outline:none;
  vertical-align:middle
}

.gb_Ua .gb_Ta {
  position:relative;
  top:2px
}

.gb_Ta .gb_e,.gb_Va {
  display:block
}

.gb_Wa {
  border:none;
  display:block;
  visibility:hidden
}

.gb_Ta .gb_e {
  background-position:0 -1943px;
  height:33px;
  width:92px
}

.gb_Va {
  background-repeat:no-repeat
}

.gb_q .gb_Ta .gb_e {
  background-position:0 -138px;
  margin:-3px 0 0 -10px;
  height:52px;
  width:112px
}

.gb_p .gb_Ta .gb_e {
  margin:-3px 0 0 -10px;
  height:52px;
  width:112px;
  background-position:0 -264px
}

.gb_g .gb_Ta .gb_e::before {
  left:0;
  top:-1943px
}

.gb_g.gb_q .gb_Ta .gb_e::before {
  left:0;
  top:-138px
}

.gb_g.gb_p .gb_Ta .gb_e::before {
  left:0;
  top:-264px
}

.gb_g .gb_Va {
  background-image:none!important
}

.gb_g .gb_Wa {
  visibility:visible
}

.gb_H .gb_Xa span {
  background:transparent
}

@-webkit-keyframes gb__nb {
0% {
  -webkit-transform:scale(0,0);
  transform:scale(0,0)
}

20% {
  -webkit-transform:scale(1.4,1.4);
  transform:scale(1.4,1.4)
}

50% {
  -webkit-transform:scale(.8,.8);
  transform:scale(.8,.8)
}

85% {
  -webkit-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1)
}

to {
  -webkit-transform:scale(1.0,1.0);
  transform:scale(1.0,1.0)
}
}

@keyframes gb__nb {
0% {
  -webkit-transform:scale(0,0);
  transform:scale(0,0)
}

20% {
  -webkit-transform:scale(1.4,1.4);
  transform:scale(1.4,1.4)
}

50% {
  -webkit-transform:scale(.8,.8);
  transform:scale(.8,.8)
}

85% {
  -webkit-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1)
}

to {
  -webkit-transform:scale(1.0,1.0);
  transform:scale(1.0,1.0)
}
}

.gb_Za .gb_0a {
  font-size:14px;
  font-weight:700;
  top:0;
  right:0
}

.gb_Za .gb_F {
  display:inline-block;
  vertical-align:middle;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height:30px;
  width:30px
}

.gb_1a {
  background-position:0 -1218px;
  opacity:.55;
  height:100%;
  width:100%
}

.gb_F:hover .gb_1a,.gb_F:focus .gb_1a {
  opacity:.85
}

.gb_2a .gb_1a {
  background-position:0 -1981px
}

.gb_3a {
  background-color:#cb4437;
  -webkit-border-radius:8px;
  border-radius:8px;
  font:bold 11px Arial;
  color:#fff;
  line-height:16px;
  min-width:14px;
  padding:0 1px;
  position:absolute;
  right:0;
  text-align:center;
  text-shadow:0 1px 0 rgba(0,0,0,0.1);
  top:0;
  visibility:hidden;
  z-index:990
}

.gb_4a .gb_3a,.gb_4a .gb_5a,.gb_4a .gb_5a.gb_6a {
  visibility:visible
}

.gb_5a {
  padding:0 2px;
  visibility:hidden
}

.gb_Za:not(.gb_7a) .gb_ma,.gb_Za:not(.gb_7a) .gb_la {
  left:3px
}

.gb_Za .gb_la {
  border-bottom-color:#e5e5e5
}

.gb_3a.gb_8a {
  -webkit-animation:gb__nb .6s 1s both ease-in-out;
  animation:gb__nb .6s 1s both ease-in-out;
  -webkit-perspective-origin:top right;
  perspective-origin:top right;
  -webkit-transform:scale(1,1);
  transform:scale(1,1);
  -webkit-transform-origin:top right;
  transform-origin:top right
}

.gb_8a .gb_5a {
  visibility:visible
}

.gb_9a {
  background-color:rgba(0,0,0,.55);
  color:#fff;
  font-size:12px;
  font-weight:700;
  line-height:20px;
  margin:5px;
  padding:0 2px;
  text-align:center;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-border-radius:50%;
  border-radius:50%;
  height:20px;
  width:20px
}

.gb_9a.gb_ab {
  background-position:-69px -69px
}

.gb_9a.gb_bb {
  background-position:0 -977px
}

.gb_F:hover .gb_9a,.gb_F:focus .gb_9a {
  background-color:rgba(0,0,0,.85)
}

#gbsfw.gb_cb {
  background:#e5e5e5;
  border-color:#ccc
}

.gb_p .gb_F .gb_1a {
  background-position:-69px -459px;
  opacity:.7
}

.gb_p .gb_2a .gb_1a {
  background-position:0 -1317px
}

.gb_p .gb_F:hover .gb_1a,.gb_p .gb_F:focus .gb_1a {
  opacity:.85
}

.gb_q .gb_F .gb_1a {
  background-position:0 -1356px;
  opacity:1
}

.gb_q .gb_2a .gb_1a {
  background-position:0 -1425px
}

.gb_p .gb_3a,.gb_q .gb_3a {
  border:none;
  -webkit-box-shadow:-1px 1px 1px rgba(0,0,0,.2);
  box-shadow:-1px 1px 1px rgba(0,0,0,.2)
}

.gb_p .gb_9a {
  background-color:rgba(0,0,0,.7);
  -webkit-box-shadow:0 1px 2px rgba(255,255,255,.9);
  box-shadow:0 1px 2px rgba(255,255,255,.9)
}

.gb_q .gb_9a.gb_9a {
  background-color:#fff;
  color:#404040;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
  box-shadow:0 1px 2px rgba(0,0,0,.2)
}

.gb_q .gb_9a.gb_ab {
  background-position:-69px -390px
}

.gb_q .gb_9a.gb_bb {
  background-position:-69px -1598px
}

.gb_4a .gb_9a.gb_9a {
  background-color:#db4437;
  color:#fff
}

.gb_4a .gb_F:hover .gb_9a,.gb_4a .gb_F:focus .gb_9a {
  background-color:#a52714
}

.gb_4a .gb_9a.gb_bb {
  background-position:0 -977px
}

.gb_g .gb_1a::before {
  left:0;
  top:-1218px
}

.gb_g .gb_2a .gb_1a::before {
  left:0;
  top:-1981px
}

.gb_g.gb_p .gb_F .gb_1a::before {
  left:-69px;
  top:-459px
}

.gb_g.gb_p .gb_2a .gb_1a::before {
  left:0;
  top:-1317px
}

.gb_g.gb_q .gb_F .gb_1a::before {
  left:0;
  top:-1356px
}

.gb_g.gb_q .gb_2a .gb_1a::before {
  left:0;
  top:-1425px
}

.gb_H .gb_9a {
  border:1px solid #fff;
  color:#fff
}

.gb_H.gb_p .gb_9a {
  border-color:#000;
  color:#000
}

.gb_g .gb_9a.gb_ab::before,.gb_H.gb_g.gb_q .gb_9a.gb_ab::before {
  left:-69px;
  top:-69px
}

.gb_g .gb_9a.gb_bb::before,.gb_H.gb_g.gb_q .gb_9a.gb_bb::before {
  left:0;
  top:-977px
}

.gb_g.gb_q .gb_9a.gb_ab::before,.gb_H.gb_g.gb_p .gb_9a.gb_ab::before {
  left:-69px;
  top:-390px
}

.gb_g.gb_q .gb_9a.gb_bb::before,.gb_H.gb_g.gb_p .gb_9a.gb_bb::before {
  left:-69px;
  top:-1598px
}

.gb_eb {
  display:none;
  margin:28px;
  margin-bottom:-12px;
  outline:none;
  position:relative;
  width:264px;
  z-index:1;
  -webkit-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);
  box-shadow:0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1)
}

.gb_eb.gb_Na {
  display:block
}

.gb_db {
  -webkit-background-size:64px 64px;
  background-size:64px 64px;
  display:inline-block;
  margin:12px;
  vertical-align:top;
  height:64px;
  width:64px
}

.gb_gb {
  display:inline-block;
  padding:16px 16px 16px 0;
  vertical-align:top;
  white-space:normal
}

.gb_db~.gb_gb {
  margin-right:88px
}

.gb_gb:first-child {
  padding-left:16px
}

.gb_hb {
  color:#262626;
  font:16px/24px Arial,sans-serif
}

.gb_ib {
  color:#737373;
  font:13px/18px Arial,sans-serif
}

#gb#gb .gb_eb .gb_jb {
  color:#427fed;
  text-decoration:none
}

#gb#gb .gb_eb .gb_jb:hover {
  text-decoration:underline
}

.gb_eb .gb_fb {
  background-position:0 -632px;
  cursor:pointer;
  opacity:.27;
  outline:none;
  position:absolute;
  right:4px;
  top:4px;
  height:12px;
  width:12px
}

.gb_eb .gb_fb:hover {
  opacity:.55
}

.gb_lb.gb_mb {
  padding:0
}

.gb_mb .gb_J {
  padding:26px 26px 22px 13px;
  background:#fff
}

.gb_nb.gb_mb .gb_J {
  background:#4d90fe
}

a.gb_ob {
  color:#666!important;
  font-size:22px;
  height:9px;
  opacity:.8;
  position:absolute;
  right:14px;
  top:4px;
  text-decoration:none!important;
  width:9px
}

.gb_nb a.gb_ob {
  color:#c1d1f4!important
}

a.gb_ob:hover,a.gb_ob:active {
  opacity:1
}

.gb_pb {
  padding:0;
  width:258px;
  white-space:normal;
  display:table
}

.gb_nb .gb_pb {
  width:200px
}

.gb_qb {
  color:#333;
  font-size:16px;
  line-height:20px;
  margin:0;
  margin-bottom:16px
}

.gb_nb .gb_qb {
  color:#fff
}

.gb_rb {
  color:#666;
  line-height:17px;
  margin:0;
  margin-bottom:5px
}

.gb_nb .gb_rb {
  color:#fff
}

.gb_sb {
  position:absolute;
  background:transparent;
  top:-999px;
  z-index:-1;
  visibility:hidden;
  margin-top:1px;
  margin-left:1px
}

#gb .gb_mb {
  margin:0
}

.gb_mb .gb_1 {
  background:#4d90fe;
  border-color:#3079ed;
  margin-top:15px
}

#gb .gb_mb a.gb_1.gb_1 {
  color:#fff
}

.gb_mb .gb_1:hover {
  background:#357ae8;
  border-color:#2f5bb7
}

.gb_tb .gb_0a .gb_la {
  border-bottom-color:#fff;
  display:block
}

.gb_ub .gb_0a .gb_la {
  border-bottom-color:#4d90fe;
  display:block
}

.gb_tb .gb_0a .gb_ma,.gb_ub .gb_0a .gb_ma {
  display:block
}

.gb_vb,.gb_wb {
  display:table-cell
}

.gb_vb {
  vertical-align:middle
}

.gb_wb {
  padding-left:13px;
  width:100%
}

.gb_xb {
  margin-bottom:32px;
  font-size:small
}

.gb_xb .gb_yb {
  margin-right:5px
}

.gb_xb .gb_zb {
  color:red
}

.gb_Ab {
  color:#fff;
  font-size:13px;
  font-weight:700;
  height:25px;
  line-height:19px;
  padding-top:5px;
  padding-left:12px;
  position:relative;
  background-color:#4d90fe
}

.gb_Ab .gb_fb {
  color:#fff;
  cursor:default;
  font-size:22px;
  font-weight:400;
  position:absolute;
  right:12px;
  top:5px
}

.gb_Ab .gb_jb,.gb_Ab .gb_Bb {
  color:#fff;
  display:inline-block;
  font-size:11px;
  margin-left:16px;
  padding:0 8px;
  white-space:nowrap
}

.gb_Cb {
  background:none;
  background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.16)),to(rgba(0,0,0,0.2)));
  background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
  background-image:linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
  background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
  border-radius:2px;
  border:1px solid #dcdcdc;
  border:1px solid rgba(0,0,0,0.1);
  cursor:default!important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#160000ff,endColorstr=#220000ff);
  text-decoration:none!important;
  -webkit-border-radius:2px
}

.gb_Cb:hover {
  background:none;
  background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.14)),to(rgba(0,0,0,0.2)));
  background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
  background-image:linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
  background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
  border:1px solid rgba(0,0,0,0.2);
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#22000000)
}

.gb_Cb:active {
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3)
}

.gb_kb {
  display:none
}

.gb_kb.gb_Na {
  display:block
}

.gb_g .gb_db {
  background-image:none!important
}

.gb_g .gb_db::before {
  display:inline-block;
  -webkit-transform:scale(.5);
  transform:scale(.5);
  -webkit-transform-origin:0 0;
  transform-origin:0 0
}

.gb_g .gb_eb .gb_fb {
  position:absolute
}

.gb_g .gb_eb .gb_fb::before {
  left:0;
  top:-632px
}

.gbqfb,.gbqfba,.gbqfbb {
  cursor:default!important;
  display:inline-block;
  font-weight:700;
  height:29px;
  line-height:29px;
  min-width:54px;
  padding:0 8px;
  text-align:center;
  text-decoration:none!important;
  -webkit-border-radius:2px;
  border-radius:2px;
  -webkit-user-select:none
}

.gbqfba:focus {
  border:1px solid #4d90fe;
  outline:none;
  -webkit-box-shadow:inset 0 0 0 1px #fff;
  box-shadow:inset 0 0 0 1px #fff
}

.gbqfba:hover {
  border-color:#c6c6c6;
  color:#222!important;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);
  box-shadow:0 1px 0 rgba(0,0,0,.15);
  background:#f8f8f8;
  background:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background:linear-gradient(top,#f8f8f8,#f1f1f1);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8,endColorstr=#f1f1f1,GradientType=1)
}

.gbqfba:hover:focus {
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff;
  box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff
}

.gbqfb::-moz-focus-inner {
  border:0
}

.gbqfba::-moz-focus-inner {
  border:0
}

.gbqfba {
  border:1px solid #dcdcdc;
  border-color:rgba(0,0,0,0.1);
  color:#444!important;
  font-size:11px;
  background:#f5f5f5;
  background:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background:linear-gradient(top,#f5f5f5,#f1f1f1);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1)
}

.gbqfba:active {
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)
}

.gb_Hb {
  position:relative;
  width:650px;
  z-index:986
}

#gbq2 {
  padding-top:15px
}

.gb_Ib .gb_Hb {
  min-width:200px;
  -webkit-flex:0 2 auto;
  flex:0 2 auto;
  -webkit-flex:0 2 main-size;
  flex:0 2 main-size
}

.gb_n~.gb_Hb {
  min-width:0
}

.gb_Ib #gbqf {
  margin-right:0;
  display:-webkit-flex;
  display:flex
}

.gb_Ib .gbqff {
  min-width:0;
  -webkit-flex:1 1 auto;
  flex:1 1 auto;
  -webkit-flex:1 1 main-size;
  flex:1 1 main-size
}

.gb_g .gbqfi::before {
  left:-69px;
  top:-1623px
}

.gb_H .gbqfb:focus .gbqfi {
  outline:1px dotted #fff
}

#gbq2 {
  display:block
}

#gbqf {
  display:block;
  margin:0;
  margin-right:60px;
  white-space:nowrap
}

.gbqff {
  border:none;
  display:inline-block;
  margin:0;
  padding:0;
  vertical-align:top;
  width:100%
}

.gbqfqw,#gbqfb,.gbqfwa {
  vertical-align:top
}

#gbqfaa,#gbqfab,#gbqfqwb {
  position:absolute
}

#gbqfaa {
  left:0
}

#gbqfab {
  right:0
}

.gbqfqwb,.gbqfqwc {
  right:0;
  left:0;
  height:100%
}

.gbqfqwb {
  padding:0 8px
}

#gbqfbw {
  display:inline-block;
  vertical-align:top
}

#gbqfb {
  border:1px solid transparent;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  height:30px;
  margin:0;
  outline:none;
  padding:0;
  width:60px;
  -webkit-box-shadow:none;
  box-shadow:none;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background:#4285f4;
  background:-webkit-linear-gradient(top,#4387fd,#4683ea);
  background:linear-gradient(top,#4387fd,#4683ea);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1)
}

#gbqfb:hover {
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);
  box-shadow:0 1px 0 rgba(0,0,0,.15)
}

#gbqfb:focus {
  -webkit-box-shadow:inset 0 0 0 1px #fff;
  box-shadow:inset 0 0 0 1px #fff
}

#gbqfb:hover:focus {
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff;
  box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff
}

#gbqfb:active:active {
  border:1px solid transparent;
  -webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
  box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
  background:#3c78dc;
  background:-webkit-linear-gradient(top,#3c7ae4,#3f76d3);
  background:linear-gradient(top,#3c7ae4,#3f76d3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=1)
}

.gbqfi {
  background-position:-69px -1623px;
  display:inline-block;
  margin:-1px;
  height:30px;
  width:30px
}

.gbqfqw {
  background:#fff;
  background-clip:padding-box;
  border:1px solid #cdcdcd;
  border-color:rgba(0,0,0,.15);
  border-right-width:0;
  height:30px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

#gbfwc .gbqfqw {
  border-right-width:1px
}

#gbqfqw {
  position:relative
}

.gbqfqw.gbqfqw:hover {
  border-color:#a9a9a9;
  border-color:rgba(0,0,0,.3)
}

.gbqfwa {
  display:inline-block;
  width:100%
}

.gbqfwb {
  width:40%
}

.gbqfwc {
  width:60%
}

.gbqfwb .gbqfqw {
  margin-left:10px
}

.gbqfqw.gbqfqw:active,.gbqfqw.gbqfqwf.gbqfqwf {
  border-color:#4285f4
}

#gbqfq,#gbqfqb,#gbqfqc {
  background:transparent;
  border:none;
  height:20px;
  margin-top:4px;
  padding:0;
  vertical-align:top;
  width:100%
}

#gbqfq:focus,#gbqfqb:focus,#gbqfqc:focus {
  outline:none
}

.gbqfif,.gbqfsf {
  color:#222;
  font:16px arial,sans-serif
}

#gbqfbwa {
  display:none;
  text-align:center;
  height:0
}

#gbqfbwa .gbqfba {
  margin:16px 8px
}

#gbqfsa,#gbqfsb {
  font:bold 11px/27px Arial,sans-serif!important;
  vertical-align:top
}

.gb_p .gbqfqw.gbqfqw,.gb_q .gbqfqw.gbqfqw {
  border-color:rgba(255,255,255,1);
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
  box-shadow:0 1px 2px rgba(0,0,0,.2)
}

.gb_p #gbqfb,.gb_q #gbqfb {
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
  box-shadow:0 1px 2px rgba(0,0,0,.2)
}

.gb_p #gbqfb:hover,.gb_q #gbqfb:hover {
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
  box-shadow:0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}

.gb_p #gbqfb:active,.gb_q #gbqfb:active {
  -webkit-box-shadow:inset 0 2px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
  box-shadow:inset 0 2px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}

.gb_Ub .gb_F {
  background-position:-69px -666px;
  opacity:.55;
  height:30px;
  width:30px
}

.gb_Ub .gb_F:hover,.gb_Ub .gb_F:focus {
  opacity:.85
}

.gb_Ub .gb_la {
  border-bottom-color:#f5f5f5
}

#gbsfw.gb_Vb {
  background:#f5f5f5;
  border-color:#ccc
}

.gb_q .gb_Ub .gb_F {
  background-position:0 -942px;
  opacity:1
}

.gb_p .gb_Ub .gb_F {
  background-position:-70px -1981px;
  opacity:.7
}

.gb_p .gb_Ub .gb_F:hover,.gb_p .gb_Ub .gb_F:focus {
  opacity:.85
}

.gb_g .gb_Ub .gb_F::before {
  left:-69px;
  top:-666px
}

.gb_g.gb_p .gb_Ub .gb_F::before {
  left:-70px;
  top:-1981px
}

.gb_g.gb_q .gb_Ub .gb_F::before {
  left:0;
  top:-942px
}

.gb_kc {
  width:480px
}

.gb_lc {
  background:#e7e7e7;
  background:rgba(0,0,0,.04);
  border-bottom-right-radius:0;
  line-height:30px;
  position:relative;
  text-align:center;
  width:100%
}

.gb_lc:hover {
  background:#dbdbdb;
  background:rgba(0,0,0,.08)
}

.gb_lc .gb_mc {
  margin:0 10px
}

.gb_nc {
  position:relative;
  z-index:1
}

.gb_oc {
  background:#eee;
  border-bottom:1px solid #e3e3e3;
  border-left:1px solid #e3e3e3;
  display:inline-block;
  line-height:32px;
  text-align:center;
  width:160px
}

.gb_nc .gb_oc:first-child {
  border-left:none
}

.gb_nc .gb_Na {
  background:#fff;
  border-bottom:none
}

.gb_pc {
  display:none;
  text-align:center
}

.gb_pc.gb_Na {
  display:block
}

.gb_qc {
  color:inherit;
  display:inline-block;
  padding:15px;
  text-decoration:none
}

.gb_rc {
  background-clip:content-box;
  background-origin:content-box;
  display:inherit;
  height:64px;
  width:64px
}

.gb_sc {
  display:block;
  text-align:center
}

.gb_tc {
  border-top:none;
  top:78px;
  z-index:1;
  -webkit-border-radius:0 0 2px 2px;
  border-radius:0 0 2px 2px
}

.gb_uc {
  display:inline-block;
  vertical-align:middle
}

.gb_vc {
  display:inline-block;
  vertical-align:middle;
  -webkit-background-size:100%;
  background-size:100%;
  height:20px;
  width:20px
}

.gb_wc {
  background-image:url(//ssl.gstatic.com/gb/images/a/5a1c013d3d.png)
}

.gb_xc {
  background-image:url(//ssl.gstatic.com/gb/images/a/de580e5330.png)
}

.gb_yc {
  background-image:url(//ssl.gstatic.com/gb/images/a/451603daf6.png)
}

.gb_uc {
  margin-left:4px
}

.gb_zc {
  margin:5px;
  width:470px
}

.gb_Ac {
  border:none;
  display:block;
  margin:0 5px;
  outline:none;
  padding:0 5px;
  height:30px;
  width:450px
}

.gb_Bc {
  border:none;
  display:block;
  margin:0 5px;
  outline:none;
  padding:0 5px;
  height:30px;
  width:450px;
  border-top:1px solid #e3e3e3
}

.gb_Cc {
  border-color:#e3e3e3;
  display:block;
  font:inherit;
  margin:0 5px;
  outline:none;
  padding:5px;
  text-align:left;
  height:320px;
  width:450px
}

.gb_Dc,.gb_Ec {
  border:1px solid #e3e3e3;
  -webkit-border-radius:2px;
  border-radius:2px;
  cursor:pointer;
  line-height:27px;
  margin:5px;
  padding:0 8px;
  width:54px
}

.gb_Dc {
  float:left
}

.gb_Ec {
  float:right
}

.gb_aa {
  min-width:315px;
  padding-left:30px;
  padding-right:30px;
  position:relative;
  text-align:right;
  z-index:986;
  -webkit-align-items:center;
  align-items:center;
  -webkit-justify-content:flex-end;
  justify-content:flex-end
}

.gb_aa.gb_k {
  -webkit-flex:1 1 auto;
  flex:1 1 auto;
  -webkit-flex:1 1 main-size;
  flex:1 1 main-size
}

.gb_Fc {
  line-height:normal;
  position:relative;
  text-align:left
}

.gb_Fc.gb_k,.gb_Hc.gb_k,.gb_ea.gb_k {
  -webkit-flex:0 1 auto;
  flex:0 1 auto;
  -webkit-flex:0 1 main-size;
  flex:0 1 main-size
}

.gb_Ic,.gb_Jc {
  display:inline-block;
  padding:0 0 0 15px;
  position:relative;
  vertical-align:middle
}

.gb_Hc {
  line-height:normal;
  padding-right:15px
}

.gb_aa .gb_Hc.gb_m {
  padding-right:0
}

.gb_ea {
  color:#404040;
  line-height:30px;
  min-width:30px;
  overflow:hidden;
  vertical-align:middle;
  text-overflow:ellipsis
}

#gb#gb.gb_da .gb_cc,#gb#gb.gb_da .gb_Fc>.gb_Jc .gb_dc {
  background:none;
  border:none;
  color:#36c;
  cursor:pointer;
  font-size:11px;
  line-height:26px;
  padding:0;
  -webkit-box-shadow:none;
  box-shadow:none
}

.gb_da .gb_cc {
  text-transform:uppercase
}

.gb_aa.gb_n {
  padding-left:0;
  padding-right:29px
}

.gb_aa.gb_Kc {
  max-width:400px
}

.gb_Lc {
  background-clip:content-box;
  background-origin:content-box;
  opacity:.27;
  padding:22px;
  height:16px;
  width:16px
}

.gb_Lc.gb_k {
  display:none
}

.gb_Lc:hover,.gb_Lc:focus {
  opacity:.55
}

.gb_Mc {
  background-position:-69px -825px
}

.gb_Nc {
  background-position:-69px -804px;
  padding-left:30px;
  padding-right:14px;
  position:absolute;
  right:0;
  top:0;
  z-index:990
}

.gb_ha:not(.gb_ja) .gb_Nc,.gb_n .gb_Mc {
  display:inline-block
}

.gb_ha .gb_Mc {
  padding-left:30px;
  padding-right:0;
  width:0
}

.gb_ha:not(.gb_ja) .gb_Oc {
  display:none
}

.gb_aa.gb_k.gb_n,.gb_n:not(.gb_ja) .gb_Fc {
  -webkit-flex:0 0 auto;
  flex:0 0 auto;
  -webkit-flex:0 0 main-size;
  flex:0 0 main-size
}

.gb_Lc,.gb_n .gb_Hc,.gb_ja .gb_Fc {
  overflow:hidden
}

.gb_ha .gb_Hc {
  padding-right:0
}

.gb_n .gb_Fc {
  padding:1px 1px 1px 0
}

.gb_ha .gb_Fc {
  width:75px
}

.gb_aa.gb_Pc,.gb_aa.gb_Pc .gb_Mc,.gb_aa.gb_Pc .gb_Mc::before,.gb_aa.gb_Pc .gb_Hc,.gb_aa.gb_Pc .gb_Fc {
  -webkit-transition:width .5s ease-in-out,min-width .5s ease-in-out,max-width .5s ease-in-out,padding .5s ease-in-out,left .5s ease-in-out;
  transition:width .5s ease-in-out,min-width .5s ease-in-out,max-width .5s ease-in-out,padding .5s ease-in-out,left .5s ease-in-out
}

.gb_Ib .gb_aa {
  min-width:0
}

.gb_aa.gb_o,.gb_aa.gb_o .gb_Fc,.gb_aa.gb_Qc,.gb_aa.gb_Qc .gb_Fc {
  min-width:0!important
}

.gb_aa.gb_o,.gb_aa.gb_o .gb_k {
  -webkit-flex:0 0 auto!important;
  -webkit-flex:0 0 auto!important;
  flex:0 0 auto!important
}

.gb_aa.gb_o .gb_ea {
  width:30px!important
}

.gb_p .gb_ea {
  font-weight:700;
  text-shadow:0 1px 1px rgba(255,255,255,.9)
}

.gb_q .gb_ea {
  color:#fff;
  font-weight:700;
  text-shadow:0 1px 1px rgba(0,0,0,.6)
}

.gb_g .gb_Mc::before {
  clip:rect(825px 85px 841px 69px);
  left:-47px;
  top:-803px
}

.gb_g .gb_e.gb_Nc {
  position:absolute
}

.gb_g .gb_Nc::before {
  clip:rect(804px 85px 820px 69px);
  left:-39px;
  top:-782px
}

.gb_g .gb_ha .gb_Mc::before {
  left:-39px
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_g .gb_Mc::before {
  clip:rect(1650px 170px 1682px 138px)
}

.gb_g .gb_Nc::before {
  clip:rect(1608px 170px 1640px 138px)
}
}

.gb_g .gb_e,.gb_g .gbii,.gb_g .gbip {
  background-image:none;
  overflow:hidden;
  position:relative
}

.gb_g .gb_e::before {
  content:url('//ssl.gstatic.com/gb/images/v1_376447c3.png');
  position:absolute
}

@media (min-resolution:1.25dppx),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gb_g .gb_e::before {
  content:url('//ssl.gstatic.com/gb/images/v2_dfcf401a.png');
  -webkit-transform:scale(.5);
  transform:scale(.5);
  -webkit-transform-origin:0 0;
  transform-origin:0 0
}
}

.gb_H a:focus {
  outline:1px dotted #fff!important
}

sentinel {
}

.gbii {
  background-image:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s32-c/photo.jpg)
}

.gbip {
  background-image:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s96-c/photo.jpg)
}

.gbii::before {
  content:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s32-c/photo.jpg);
  position:absolute
}

.gbip::before {
  content:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s96-c/photo.jpg);
  position:absolute
}

@media (min-resolution:1.25dppx),(-o-min-device-pixel-ratio:54),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
.gbii {
  background-image:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s64-c/photo.jpg)
}

.gbii::before {
  content:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s64-c/photo.jpg)
}

.gbip {
  background-image:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s192-c/photo.jpg)
}

.gbip::before {
  content:url(//lh6.googleusercontent.com/-fd5Cb9ZI8e8/AAAAAAAAAAI/AAAAAAAAAAA/DY0Cf0QILd4/s192-c/photo.jpg)
}

.gbii::before,.gbip::before {
  -webkit-transform:scale(.5);
  -moz-transform:scale(.5);
  -ms-transform:scale(.5);
  -o-transform:scale(.5);
  transform:scale(.5);
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -ms-transform-origin:0 0;
  -o-transform-origin:0 0;
  transform-origin:0 0
}
}

#gbq .gbgt-hvr,#gbq .gbgt:focus {
  background-color:transparent;
  background-image:none
}

.gbqfh#gbq1 {
  display:none
}

.gbxx {
  display:none!important
}

#gbq {
  line-height:normal;
  position:relative;
  top:0;
  white-space:nowrap
}

#gbq {
  left:0;
  width:100%
}

#gbq2 {
  top:0;
  z-index:986
}

#gbq4 {
  display:inline-block;
  max-height:29px;
  overflow:hidden;
  position:relative
}

.gbqfh#gbq2 {
  z-index:985
}

.gbqfh#gbq2 {
  margin:0;
  margin-left:0!important;
  padding-top:0;
  position:relative;
  top:310px
}

.gbqfh #gbqf {
  margin:auto;
  min-width:534px;
  padding:0!important
}

.gbqfh #gbqfbw {
  display:none
}

.gbqfh #gbqfbwa {
  display:block
}

.gbqfh #gbqf {
  max-width:512px;
  min-width:200px
}

.gbqfh .gbqfqw {
  border-right-width:1px
}

.gsfe_a.gsfe_a {
  border-right-width:0;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none
}

.gsfe_b.gsfe_b {
  border-right-width:0;
  border-color:#4285f4;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none
}

.gbqfh .gsfe_a,.gbqfh .gsfe_b {
  border-width:1px
}

.gbm {
  background:#fff;
  border:1px solid #bebebe;
  box-shadow:0 2px 4px rgba(0,0,0,.2);
  -moz-box-shadow:-1px 1px 1px rgba(0,0,0,.2);
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,.2);
  position:absolute;
  top:-999px;
  visibility:hidden;
  z-index:999
}