// app/styles/login.scss

@import 'mixins/alignment';

// Defaults
$loginBackgroundColor: #f0f8ff !default;

.login {
	height: 100%;
}

.login-box {
		width: 400px;
		padding: 40px;
		@include vertical-center;
		@include center-block;
		background-color: $loginBackgroundColor; 
}