// app/styles/master.scss

@import 'susy';
@import 'breakpoints';
@import 'mixins/visibility';

// Defaults
$masterWidth: 200px !default;
$masterGutterWidth: 0px !default;
$masterRibbonHeight: 44px !default;
$masterBackgroundColor: $colorWhite !default;
$masterContentBackgroundColor: $masterBackgroundColor !default;
$masterRibbonBackgroundColor: $masterBackgroundColor !default;
$masterRibbonBorderThickness: 3px !default;
$masterRibbonBorderColor: $colorGrayLighter !default;

.master {
	@include visuallyhidden;

	@include breakpoint($phablet) {
		@include visuallyshown;
		@include span(1 of 2 ($masterWidth $masterGutterWidth) static isolate);
	}
	background-color: $masterBackgroundColor; 
}

.master-ribbon {
	@include span(100%);
	height: $masterRibbonHeight;
	padding-left: 15px;
	background-color: $masterRibbonBackgroundColor; 
	border-bottom: $masterRibbonBorderThickness solid $masterRibbonBorderColor;
}

.master-content {
	@include span(100%);
	overflow-x: hidden !important;
	overflow-y: auto !important;
	background-color: $masterContentBackgroundColor;
}

.master-inner {
	margin: 15px 0px 25px 0px;
	overflow: hidden; 
}
