
// Defaults
$tab-height: 32px !default;
$tab-bg: #AB82FF !default;
$tab-bd: #1874CD !default;
$tab-bd-thick: 3px !default;

.tab {
	display: inline-block;
	height: $tab-height;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: $tab-bg; 
	//border-bottom: $detail-ribbon-bd-thick solid $detail-ribbon-bd;
}

.tab.active {
	background-color: $tab-bg; 
	border-bottom: $tab-bd-thick solid $tab-bd;
}
