// app/styles/zz-button-bar.scss

// Button bar styles
//

.zz-button-bar {
	position: relative;
	display: inline-block;
	float: left;
	height: 100% !important;
	margin-right: 10px;
	white-space: nowrap;
}
