// app/styles/zz-dropdown-tab-toggle.scss 

// Defaults
$zzTabColor: $componentDisabledColor !default;
$zzTabActiveColor: $componentActiveColor !default;
$zzTabDefaultActiveColor: $componentActiveColor !default;
$zzTabPrimaryActiveColor: $primaryColor !default;
$zzTabSecondaryActiveColor: $secondaryColor !default;
$zzTabTertiaryActiveColor: $tertiaryColor !default;
$zzTabHoverColor: $colorGrayMediumDark !default;
$zzTabBackgroundColor: $componentBackgroundColor !default;
$zzTabTopPadding: 14px !default;
$zzTabBottomPadding: 5px !default;
$zzTabRightMargin: 24px !default;
$zzTabBorderThickness: 3px !default;

a.zz-dropdown-tab-toggle {
	display: inline-block;
	color: $zzTabColor;
	font-weight: bold;
	height: 100%;
	margin-right: $zzTabRightMargin;
	padding-top: $zzTabTopPadding;
	padding-bottom: $zzTabBottomPadding;
	background-color: $zzTabBackgroundColor; 
	text-decoration: none !important;
	cursor: pointer !important; 
}

a.zz-dropdown-tab-toggle.active {
	background-color: $zzTabBackgroundColor; 
	//border-bottom: $zzTabBorderThickness solid $zzTabActiveColor;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.zz-dropdown-tab-toggle:focus {
  outline: 0;
}

a:hover.zz-dropdown-tab-toggle {
	color:$zzTabHoverColor;
	font-weight: bold;
}

.open {
  > a.zz-dropdown-tab-toggle {
	color:$zzTabHoverColor;
	font-weight: bold;
	}
}

a:active.zz-dropdown-tab-toggle  {
	color: $zzTabActiveColor;
	font-weight: bold;
}

a.zz-dropdown-tab-toggle.active {
	color: $zzTabActiveColor;
	font-weight: bold;
}
// Kinds
a:active.zz-dropdown-tab-toggle-default  {
	color: $zzTabDefaultActiveColor;
}

a.zz-dropdown-tab-toggle-default.active {
	color: $zzTabDefaultActiveColor;
}

a:active.zz-dropdown-tab-toggle-primary  {
	color: $zzTabPrimaryActiveColor;
}

a.zz-dropdown-tab-toggle-primary.active {
	color: $zzTabPrimaryActiveColor;
}

a:active.zz-dropdown-tab-toggle-secondary  {
	color: $zzTabSecondaryActiveColor;
}

a.zz-dropdown-tab-toggle-secondary.active {
	color: $zzTabSecondaryActiveColor;
}

a:active.zz-dropdown-tab-toggle-tertiary  {
	color: $zzTabTertiaryActiveColor;
}

a.zz-dropdown-tab-toggle-tertiary.active {
	color: $zzTabTertiaryActiveColor;
}

