// app/styles/zz-list-heading.scss

// Defaults
$zzListHeadingColor: $colorGrayMedium !default;
$zzListHeadingBackgroundColor: $bodyBackgroundColor !default;

.zz-list .zz-list-heading {
	width: 100%;
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: $zzListHeadingColor;
	background-color: $zzListHeadingBackgroundColor;
  text-transform: capitalize;
  font-style: italic;
	//border-left: 5px solid $zzListBackgroundColor;
}
