/*
.zz-navbar {
	display: block;
	float: left;
  width: 100px;
  height: 100px;
  background-color: #434854;
 }
 */

.zz-navbar {
  background-color: #434854;
  position: fixed;
  height: 70px;
  top: 0;
  width: 100%;
  z-index: 100;
}

.zz-navbar > li {
  display: block;
}

.zz-navbar > li > a {
  font: normal normal normal 14px "Proxima Nova Semi Bold", arial, sans-serif;
  line-height: 20px;
  color: #000000;
  color: #9196a1;
  padding: 12px;
  display: block;
  position: relative;
  text-decoration: none;
  border-left: 4px solid transparent;
}

.zz-navbar > li > a:hover {
  color: #ffffff;
}

.zz-navbar > li > a:active {
  color: #ffffff;
}

.zz-navbar > li > a.active {
  color: #ffffff;
  border-left: 4px solid #1675bf;
}

.zz-navbar > li > a.active [class^="icon-"] {
  color: #ffffff;
}

.zz-navbar > li > a.expanded {
  color: #9196a1;
}

.zz-navbar > li > a.expanded:hover {
  color: #ffffff;
}

.zz-navbar > li > a.expanded:hover [class^="icon-"] {
  color: #ffffff;
}

.zz-navbar > li > a.expanded.active {
  color: #ffffff;
  border-left: 4px solid #1675bf;
}

.zz-navbar > li > a [class^="icon-"] {
  margin-right: 6px;
  vertical-align: sub;
}

.zz-navbar > li > a [class^="icon-"]:hover {
  color: #9196a1;
}

.zz-navbar > li .submenu {
  display: none;
}

.zz-navbar > li .submenu.expanded {
  display: block;
}

.zz-navbar > li .submenu.expanded > li {
  line-height: 50px;
  background-color: #303540;
}

.zz-navbar > li .submenu.expanded > li:first-of-type {
  padding-top: 15px;
}

.zz-navbar > li .submenu.expanded > li:last-of-type {
  padding-bottom: 15px;
}

.zz-navbar > li .submenu.expanded a {
  font: normal normal normal 14px "Proxima Nova Reg", arial, sans-serif;
  line-height: 20px;
  color: #000000;
  color: #9196a1;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #303540;
  display: block;
}

.zz-navbar > li .submenu.expanded a.active,

.zz-navbar > li .submenu.expanded a:active,

.zz-navbar > li .submenu.expanded a:hover {
  color: #ffffff;
}

