// app/styles/zz-tab-group.scss

// Tab group styles
//

.zz-tab-group {
	position: relative;
	display: inline-block;
	float: left;
	height: 100% !important;
	margin-right: 5px;
	vertical-align: middle;
	white-space: nowrap;
}
