// app/templates/styles/zz-tab.scss 

// Defaults
$zzTabColor: $componentDisabledColor !default;
$zzTabActiveColor: $componentActiveColor !default;
$zzTabDefaultActiveColor: $componentActiveColor !default;
$zzTabPrimaryActiveColor: $primaryColor !default;
$zzTabSecondaryActiveColor: $secondaryColor !default;
$zzTabTertiaryActiveColor: $tertiaryColor !default;
$zzTabHoverColor: $colorGrayMediumDark !default;
$zzTabBackgroundColor: $componentBackgroundColor !default;
$zzTabTopPadding: 14px !default;
$zzTabBottomPadding: 5px !default;
$zzTabRightMargin: 24px !default;
$zzTabBorderThickness: 3px !default;

.zz-tab {
	display: inline-block;
	height: 100%;
	margin-right: $zzTabRightMargin;
	background-color: $zzTabBackgroundColor; 
}

// Kinds
.zz-tab.active {
	background-color: $zzTabBackgroundColor; 
	border-bottom: $zzTabBorderThickness solid $zzTabActiveColor;
}
.zz-tab-default.active {
	border-bottom: $zzTabBorderThickness solid $zzTabDefaultActiveColor;
}
.zz-tab-primary.active {
	border-bottom: $zzTabBorderThickness solid $zzTabPrimaryActiveColor;
}
.zz-tab-secondary.active {
	border-bottom: $zzTabBorderThickness solid $zzTabSecondaryActiveColor;
}
.zz-tab-tertiary.active {
	border-bottom: $zzTabBorderThickness solid $zzTabTertiaryActiveColor;
}

.zz-tab > a {
	display: inline-block;
	color: $zzTabColor;
	font-weight: bold;
	height: 100%;
	padding-top: $zzTabTopPadding;
	padding-bottom: $zzTabBottomPadding;
	text-decoration: none !important;
	cursor: pointer !important; 
}

.zz-tab > a:hover {
	color:$zzTabHoverColor;
	font-weight: bold;
}

.zz-tab > a:active {
	color: $zzTabActiveColor;
	font-weight: bold;
}

.zz-tab.active > a {
	color: $zzTabActiveColor;
	font-weight: bold;
}

// Kinds
.zz-tab-default > a:active {
	color: $zzTabDefaultActiveColor;
}

.zz-tab-default.active > a {
	color: $zzTabDefaultActiveColor;
}

.zz-tab-primary > a:active {
	color: $zzTabPrimaryActiveColor;
}

.zz-tab-primary.active > a {
	color: $zzTabPrimaryActiveColor;
}

.zz-tab-secondary > a:active {
	color: $zzTabSecondaryActiveColor;
}

.zz-tab-secondary.active > a {
	color: $zzTabSecondaryActiveColor;
}

.zz-tab-tertiary > a:active {
	color: $zzTabTertiaryActiveColor;
}

.zz-tab-tertiary.active > a {
	color: $zzTabTertiaryActiveColor;
}
