// app/styles/zz-uploader.scss

// Uploader styles
//

// Defaults

.zz-uploader-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.zz-uploader-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 4px solid #ffffff;
  background-color: #ffffff;
}

.zz-uploader-message {
  display: inline-block;
  padding: 4px; 
  @include center;
  text-align: center;
}

.zz-uploader {
  z-index: 1031;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #aaaaaa;
  border: 4px dashed #aaaaaa;
  background-color: #ffffff;
  @include horizontal-center;

  &.is-dragging {
    @include visible;
  }

}


