<div class="one-of-two">
	<div style="margin: 25% 10px 25% 10px;">
		{{#zz-statistic label='Clients' size='huge' icon='glyphicon glyphicon-user'}}
		Two
		<br>
		Hundred
		{{/zz-statistic}}
		</div>
</div>
<div class="two-of-two">
	<div style="margin: 25% 10px 25% 10px;">
		{{zz-statistic value="1027" label='Buzzes' size='large' icon='glyphicon glyphicon-bullhorn'}}
	</div>
</div>