{{!-- app/templates/teams/new.hbs --}}
<div>
  <h1>New Team</h1>

  {{#zz-form model=model}}
    {{! #if errors}}
      {{! zz-alert kind='danger' label='Invalid Username/Password'}}
    {{! /if}}

    {{zz-input property="name" label="Name" placeholder="Name"}}

    {{zz-button enabled=needsSaving action='save' kind='primary' label='Save' icon='glyphicon glyphicon-save' label-pending='Saving' icon-pending='fa fa-spinner fa-spin'}}
    {{zz-button action='cancel' label='Cancel'}}
  {{/zz-form}}

</div>
