{{! app/templates/leads/family.hbs }}

<div>  
  <h1>{{fullName}}</h1>
  <p>
      Spouse: ...
  </p>
  <p>
      Mother: ...
  </p>
  <p>
      Father: ...
  </p>
  <p>
      Son: ...
  </p>
  <p>
      Daughter: ...
  </p>

</div>
