{{! app/templates/leads/friend.hbs }}

<div>  
  <h1>{{fullName}}</h1>
  <p>
      Friend: ...
  </p>
  <p>
      Friend: ...
  </p>
  <p>
      Friend: ...
  </p>
  <p>
      Friend: ...
  </p>
  <p>
      Friend: ...
  </p>

</div>
