{{! app/templates/leads/summary.hbs }}

<div>  
  <h1>{{fullName}}</h1>
  <p>
      Email: {{email}}
  </p>

  <p>
      Phone: {{phone}}
  </p>

  <p>
      Notes: {{notes}}
  </p>

  <p>      

  {{#if showUnsavedMessage}}
    <div class='unsaved'>unsaved changes</div>
  {{/if}}

  {{#if isSaving}}
    <div class='saving'>saving...</div>
  {{/if}}
  </p>
</div>
