{{! app/templates/leads/tags.hbs }}

<div>  
  <h1>{{fullName}}</h1>
  <p>
      Tags: ...
  </p>
  <p>
      Family: ...
  </p>
  <p>
      Friends: ...
  </p>
  <p>
      Sports: ...
  </p>
  <p>
      Other: ...
  </p>

</div>
