{{! app/templates/session/login.hbs }}
<div class='login-box'>
  {{#zz-form model=model}}
    {{#if errors}}
      {{zz-alert kind='danger' message=errors}}
    {{/if}}

  	{{zz-input property="identification" label="Username" placeholder="Username"}}
  	{{zz-input property="password" label="Password" placeholder="Password" type='password'}}


    {{zz-button enabled=isValid action='login' kind='primary' label='Login' icon='glyphicon glyphicon-log-in' label-pending='Logging in' icon-pending='fa fa-spinner fa-spin'}}
  {{/zz-form}}
</div>
