{{! app/templates/clients/master-content.hbs }}
<table class="table table-hover table-condensed borderless">
  <thead>
  </thead>
  <tbody>
  {{#each client in clients}}
    <tr>
    	{{#link-to 'clients.show' client tagName="td"}}{{client.fullName}}{{/link-to}}
    </tr>
  {{/each}}
  </tbody>
</table>
