<div class="detail">
    <div class="detail-ribbon">
      {{outlet "detail-ribbon"}}
    </div>
    <div class="detail-content">
      <div class="detail-inner">
        {{outlet "detail-content"}}
      </div> 
    </div> 
</div>