{{!-- <div style="font-size:0;color:white;z-index:-9;position:absolute;height:0;width:0;overflow:hidden;left:30%;top:30%;">
    <form action="?ui=html&amp;zy=s" method="post"><input type="hidden" name="at"
                                                          value="AF6bupP_huNnLdL4Y5cn-XoYPUz0AoWiCg"><input
            type="submit" value="Basic HTML view" class="submit_as_link" style="color:white;"></form>
</div> --}}

{{!-- <div id="loading" style="display: none;">
    <form action="?ui=html&amp;zy=d" method="post"><input type="hidden" name="at"
                                                   log       value="AF6bupP_huNnLdL4Y5cn-XoYPUz0AoWiCg">

        <div class="cmsg">
            <div class="msg">Loading davemcnelis@gmail.com…</div>
            <div class="lpb">
                <div id="lpt" style="width: 90%;"></div>
            </div>
        </div>
        <div id="stb" class="msgb" style="bottom:10px"><input type="hidden" name="at"
                                                              value="AF6bupP_huNnLdL4Y5cn-XoYPUz0AoWiCg">Loading
            standard view | <input type="submit" value="Load basic HTML" class="submit_as_link"> (for slow connections)
        </div>
    </form>
    <div id="loadingError" class="cmsg" style="clear:left;display:none"><p style="font-size:larger;margin:40px 0">This
        is taking longer than usual. <a href="https://mail.google.com/mail/u/0/" onclick="sc('GMAIL_SL','rld');"><b>Try
            reloading the page</b></a>.</p>

        <div>If that doesn't work, you can:
            <ol>
                <li><a href="?labs=0">Disable Labs and try again</a>.</li>
                <li>If you're on a slow connection, try <input type="submit" value="basic HTML view"
                                                               class="submit_as_link">.
                </li>
                <li>For more troubleshooting tips, visit the <a
                        href="http://support.google.com/mail/bin/answer.py?answer=8767&amp;src=sl&amp;hl=en">help
                    center</a>.
                </li>
            </ol>
        </div>
    </div>
</div> --}}

{{!-- <div id="roster_comm_link" style="display:none">
</div> --}}


{{!-- <input type="text" name="hist_state" id="hist_state" style="display:none">
 --}}

{{!-- <div class="ata-asE" style="display: none;"></div>
 --}}

{{!-- <div aria-live="assertive" aria-atomic="true"
     style="position: absolute; top: -1000px; height: 1px; overflow: hidden;">
</div> --}}

{{!-- <div aria-live="polite" aria-atomic="true" style="position: absolute; top: -1000px; height: 1px; overflow: hidden;">
    Conversation opened. 1 unread message.
</div> --}}


{{! << page }}
<div style="position: relative; min-height: 100%;">

    <div class="vI8oZc cS">
        <div class="wl"></div>
        <div class="wq"></div>
        <div class="wp"></div>
        <div class="wo"></div>
        <div class="wn"></div>
    </div>

    <div tabindex="0"></div>


    {{! << page one !! PAGE_ONE_WIDTH=window.width}}
    <div class="x-nH page" {{!style="width: 1592px;"}}>
        {{! << page two }}
        <div class="x-nH" style="position: relative;">

            {{! << banner }}
            <div class="x-nH x-w-asV x-aiw banner" style="height: 65px;">
            </div>{{! banner >> }}

            {{! << contents }}
            <div class="x-nH">

                {{! << contents one }}
                <div class="no">

                    {{! << sidebar !! SIDEBAR_WIDTH=202, SIDEBAR_HEIGHT=window.height-BANNER_HEIGHT }}
                    <div class="x-nH oy8Mbf nn aeN sidebar" {{! style="width: 202px; height: 375px;"}}>

                        {{! << sidebar menu }}
                        <div class="Ls77Lb aZ6" style="">
                            {{! << sidebar menu dropdown }}
                            <div class="x-aki xx-pp switcher" style="height: 39px;">
                                <div class="akh J-J5-Ji J-JN-I" id=":j" gh="pb" aria-label="Navigate to" role="button" aria-expanded="false" tabindex="0" aria-haspopup="false" style="-webkit-user-select: none;"><span>Clients</span>
                                    <div class="asT-asx aQS J-J5-Ji"></div>
                                </div>
                            </div>
                            {{! sidebar menu dropdown >> }}
                            {{! << sidebar folders }}
                            <div class="aj9 pp" style="-webkit-user-select: none;">
                                <div id=":3t" class="oo">
                                    <div class="nM">
                                        {{! << sidebar compose }}
                                        <div id=":3s" class="aic">
                                            <div class="z0">
                                                <div class="T-I J-J5-Ji T-I-KE L3" role="button" tabindex="0" gh="cm"
                                                     style="-webkit-user-select: none;">new
                                                </div>
                                            </div>
                                        </div>
                                        {{! sidebar compose >> }}
                                        <div class="ajl aib aZ6 aji" aria-labelledby=":3y" role="navigation" style="height: 196px;"><h2 class="aWk" id=":3y">Labels</h2>
                                            {{! << sidebar folders,notes,more }}
                                            <div class="r9gPwb" style="width: auto;">
                                                {{! << sidebar folders,notes}}
                                                <div id=":3u" class="n3">
                                                    {{! << sidebar folders }}
                                                    <div class="LrBjie">
                                                        <div class="TK">
                                                            <div class="aim ain">{{! aim -> folder, ain -> current folder }}
                                                                <div class="TO nZ aiq" id=":40">
                                                                    <div class="TN GLujEb" style="margin-left:0px"><img src="//assets/images/cleardot.gif" class="afM">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#inbox" target="_top" class="J-Ke n0" title="Inbox" tabindex="0">Inbox</a></span></div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aim">
                                                                <div class="TO" id=":41">
                                                                    <div class="TN GLujEb" style="margin-left:0px">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#starred" target="_top" class="J-Ke n0" title="Starred" tabindex="-1">Starred</a></span></div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aim">
                                                                <div class="TO" id=":42">
                                                                    <div class="TN GLujEb" style="margin-left:0px">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#imp" target="_top" class="J-Ke n0" title="Important" tabindex="-1">Important</a></span>
                                                                        </div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aim">
                                                                <div class="TO" id=":43">
                                                                    <div class="TN GLujEb" style="margin-left:0px">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#chats" target="_top" class="J-Ke n0" title="Chats" tabindex="-1">Chats</a></span></div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aim">
                                                                <div class="TO" id=":44">
                                                                    <div class="TN GLujEb" style="margin-left:0px">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#sent" target="_top" class="J-Ke n0" title="Sent Mail" tabindex="-1">Sent Mail</a></span></div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aim">
                                                                <div class="TO" id=":45">
                                                                    <div class="TN GLujEb" style="margin-left:0px">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#drafts" target="_top" class="J-Ke n0" title="Drafts" tabindex="-1">Drafts</a></span>
                                                                        </div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aim">
                                                                <div class="TO" id=":46">
                                                                    <div class="TN GLujEb" style="margin-left:0px">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#all" target="_top" class="J-Ke n0" title="All Mail" tabindex="-1">All Mail</a></span></div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aim">
                                                                <div class="TO" id=":47">
                                                                    <div class="TN GLujEb" style="margin-left:0px">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#spam" target="_top" class="J-Ke n0" title="Spam" tabindex="-1">Spam</a></span></div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aim">
                                                                <div class="TO" id=":48">
                                                                    <div class="TN GLujEb" style="margin-left:0px">
                                                                        <div class="aio UKr6le"><span class="nU "><a href="https://mail.google.com/mail/u/0/#trash" target="_top" class="J-Ke n0" title="Trash" tabindex="-1">Trash</a></span></div>
                                                                        <div class="nL aif"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{! sidebar folders >> }}
                                                    <div class="CM" style="display: none;"></div>
                                                    <div class="LrBjie aJZ a0L TA">
                                                        <div class="TK"></div>
                                                    </div>
                                                    <div class="CM" style="display: none;"></div>
                                                    {{! << sidebar circles }}
                                                    <div class="LrBjie aat">
                                                        <div class="TK">
                                                            <div class="aim">
                                                                <div class="TO" id=":4e">
                                                                    <div class="TN aY7xie aze" style="margin-left:0px">
                                                                        <div class="TH aii J-J5-Ji" role="link"
                                                                             tabindex="-1" title="Expand Circles"></div>
                                                                        <div class="aio aip"><span class="nU "><a href="https://mail.google.com/mail/u/0/#circle" target="_top" class="J-Ke n0" title="Circles" tabindex="-1">Circles</a></span></div>
                                                                        <div class="nL aig">
                                                                            <div class="pM aj0" style="color: #666; background-color:#ddd; border-color: #ddd" tabindex="0" aria-haspopup="true" aria-hidden="true">
                                                                                <div class="p6" style="background-color: #ddd">
                                                                                    <div class="p8">▼</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{! sidebar circles >> }}
                                                    <div class="CM"></div>
                                                    {{! << sidebar notes }}
                                                    <div class="zw" gh="cl">
                                                        <div class="TK">
                                                            <div class="aim">
                                                                <div class="TO" id=":4j">
                                                                    <div class="TN aY7xie aze" style="margin-left:0px">
                                                                        <div class="TH J-J5-Ji"></div>
                                                                        <div class="aio aip"><span class="nU "><a href="https://mail.google.com/mail/u/0/#label/Notes" target="_top" class="J-Ke n0" title="Notes" tabindex="-1">Notes</a></span></div>
                                                                        <div class="nL aig">
                                                                            <div class="pM aj0" style="color: #666; background-color:#ddd; border-color: #ddd" tabindex="0" aria-haspopup="true" aria-hidden="true">
                                                                                <div class="p6" style="background-color: #ddd">
                                                                                    <div class="p8">▼</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{! sidebar notes >> }}
                                                </div>
                                                {{! sidebar folders,notes >> }}
                                                {{! << sidebar more toggle }}
                                                <div class="n6">
                                                    <div class="n8">&nbsp;</div>
                                                    <span role="button" class="J-Ke n4 ah9" id=":3x" gh="mll"
                                                          tabindex="0"><span class="CJ">More</span><span class="ait"><div
                                                            class="G-asx T-I-J3 J-J5-Ji">&nbsp;</div></span></span>
                                                </div>
                                                {{! << sidebar more toggle }}
                                                {{! << sidebar more content }}
                                                <div id=":3v" style="display: none">
                                                    <div id=":3w" class="n3">
                                                        <div class="LrBjie TA">
                                                            <div class="TK"></div>
                                                        </div>
                                                        <div class="CM" style="display: none;"></div>
                                                        <div class="LrBjie aJZ a0L">
                                                            <div class="TK">
                                                                <div class="aim">
                                                                    <div class="TO" id=":49">
                                                                        <div class="TN aY7xie aze"
                                                                             style="margin-left:0px">
                                                                            <div class="TH aii J-J5-Ji" role="link" tabindex="-1" title="Expand label: Categories"></div>
                                                                            <div class="aio aip"><span class="nU n1"><a href="https://mail.google.com/mail/u/0/" target="_top" class="J-Ke n0" title="Categories" aria-label="Categories" tabindex="-1">Categories</a></span>
                                                                            </div>
                                                                            <div class="nL aig">
                                                                                <div class="pM aj0" style="color: #666; background-color:#ddd; border-color: #ddd" tabindex="0" aria-haspopup="true" aria-hidden="true">
                                                                                    <div class="p6" style="background-color: #ddd">
                                                                                        <div class="p8">▼</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="CM" style="display: none;"></div>
                                                        <div class="LrBjie aat TA">
                                                            <div class="TK"></div>
                                                        </div>
                                                        <div class="CM" style="display: none;"></div>
                                                        <div class="zw TA" gh="cl">
                                                            <div class="TK"></div>
                                                        </div>
                                                        <div class="CM" style="display: none;"></div>
                                                        <div class="CL"><a href="https://mail.google.com/mail/u/0/#settings/labels" class="CK">Manage labels</a></div>
                                                        <div class="CL Wj"><a href="" class="CK">Create new label</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{! sidebar more content >> }}
                                            </div>
                                            {{! sidebar folders,notes,more >> }}
                                        </div>
                                        <div class="afL afR J-M jQjAxd finder" role="menu" aria-haspopup="true" tabindex="-1"
                                             style="-webkit-user-select: none; display: none; width: 42.56em;">
                                            <div class="SK AX" style="-webkit-user-select: none;">
                                                <div class="J-M-Jz" style="-webkit-user-select: none;">
                                                    <div class="J-awr" id=":4m" style="-webkit-user-select: none;">Inbox
                                                        Type
                                                    </div>
                                                    <div class="J-N J-Ks"
                                                         cfg="^smartlabel_personal|^smartlabel_social|^smartlabel_promo|^smartlabel_notification"
                                                         role="menuitemcheckbox" aria-checked="false" id=":4n"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Default
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^io_im|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":4o"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Important first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^u|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":4p"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Unread first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^t|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":4q"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Starred first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^io_im,^u|^t|" custom="1"
                                                         role="menuitemcheckbox" aria-checked="false" id=":4r"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Priority Inbox
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="afP" style="-webkit-user-select: none;"><img
                                                        src="//assets/images/cleardot.gif"
                                                        id=":4l" class="afS" style="-webkit-user-select: none;">

                                                    <h3 class="afQ" style="-webkit-user-select: none;">Try them all,
                                                        keep what fits</h3>Try out all of the new inbox styles to see
                                                    what fits you best. You can always switch back if you change your
                                                    mind.<br style="-webkit-user-select: none;"><br
                                                            style="-webkit-user-select: none;"><span id=":4k"
                                                                                                     class="e amk e"
                                                                                                     tabindex="0"
                                                                                                     role="link"
                                                                                                     style="-webkit-user-select: none;">Try the tabs again</span>
                                                </div>
                                                <div style="clear: both; -webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                        <div class="afL afR J-M jQjAxd" role="menu" aria-haspopup="true" tabindex="-1"
                                             style="-webkit-user-select: none; display: none; width: 42.56em;">
                                            <div class="SK AX" style="-webkit-user-select: none;">
                                                <div class="J-M-Jz" style="-webkit-user-select: none;">
                                                    <div class="J-awr" id=":4t" style="-webkit-user-select: none;">Inbox
                                                        Type
                                                    </div>
                                                    <div class="J-N J-Ks"
                                                         cfg="^smartlabel_personal|^smartlabel_social|^smartlabel_promo|^smartlabel_notification"
                                                         role="menuitemcheckbox" aria-checked="false" id=":4u"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Default
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^io_im|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":4v"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Important first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^u|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":4w"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Unread first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^t|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":4x"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Starred first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^io_im,^u|^t|" custom="1"
                                                         role="menuitemcheckbox" aria-checked="false" id=":4y"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Priority Inbox
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="afP" style="-webkit-user-select: none;"><img
                                                        src="//assets/images/cleardot.gif"
                                                        id=":4l" class="afS" style="-webkit-user-select: none;">

                                                    <h3 class="afQ" style="-webkit-user-select: none;">Try them all,
                                                        keep what fits</h3>Try out all of the new inbox styles to see
                                                    what fits you best. You can always switch back if you change your
                                                    mind.<br style="-webkit-user-select: none;"><br
                                                            style="-webkit-user-select: none;"><span id=":4k"
                                                                                                     class="e amk e"
                                                                                                     tabindex="0"
                                                                                                     role="link"
                                                                                                     style="-webkit-user-select: none;">Try the tabs again</span>
                                                </div>
                                                <div style="clear: both; -webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                        <div class="afL afR J-M jQjAxd" role="menu" aria-haspopup="true" tabindex="-1"
                                             style="-webkit-user-select: none; display: none; width: 42.56em;">
                                            <div class="SK AX" style="-webkit-user-select: none;">
                                                <div class="J-M-Jz" style="-webkit-user-select: none;">
                                                    <div class="J-awr" id=":4z" style="-webkit-user-select: none;">Inbox
                                                        Type
                                                    </div>
                                                    <div class="J-N J-Ks"
                                                         cfg="^smartlabel_personal|^smartlabel_social|^smartlabel_promo|^smartlabel_notification"
                                                         role="menuitemcheckbox" aria-checked="false" id=":50"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Default
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^io_im|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":51"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Important first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^u|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":52"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Unread first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^t|" role="menuitemcheckbox"
                                                         aria-checked="false" id=":53"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Starred first
                                                        </div>
                                                    </div>
                                                    <div class="J-N J-Ks" cfg="^io_im,^u|^t|" custom="1"
                                                         role="menuitemcheckbox" aria-checked="false" id=":54"
                                                         style="-webkit-user-select: none;">
                                                        <div class="J-N-Jz" style="-webkit-user-select: none;">
                                                            <div class="J-N-Jo"
                                                                 style="-webkit-user-select: none;"></div>
                                                            Priority Inbox
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="afP" style="-webkit-user-select: none;"><img
                                                        src="//assets/images/cleardot.gif"
                                                        id=":4l" class="afS" style="-webkit-user-select: none;">

                                                    <h3 class="afQ" style="-webkit-user-select: none;">Try them all,
                                                        keep what fits</h3>Try out all of the new inbox styles to see
                                                    what fits you best. You can always switch back if you change your
                                                    mind.<br style="-webkit-user-select: none;"><br
                                                            style="-webkit-user-select: none;"><span id=":4k"
                                                                                                     class="e amk e"
                                                                                                     tabindex="0"
                                                                                                     role="link"
                                                                                                     style="-webkit-user-select: none;">Try the tabs again</span>
                                                </div>
                                                <div style="clear: both; -webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{! sidebar folders >> }}
                        </div>
                        {{! sidebar menu >> }}
                        {{! << sidebar separator }}
{{!--                         <div class="aeO" gh="ns" style="">
                            <hr class="aeS">
                            <div class="aeQ"></div>
                        </div> --}}
                        {{! sidebar separator >> }}
                        {{! << contact search !! CONTACT_SEARCH_HEIGHT=81 }}
{{!--                         <div class="akc aZ6" role="complementary" style="height: 81px;">
                            <div class="T0 pp aj3">
                                <div class="ApVoH s" gh="c">
                                    <div class="r">
                                        <div id=":55" class="py pv" idlink="" tabindex="0" role="link"><img class="pq"
                                                                                                            role="button"
                                                                                                            src="//assets/images/cleardot.gif"
                                                                                                            alt="Collapse">

                                            <h2 class="pw" id=":57">Chat</h2>

                                            <div class="qn"></div>
                                        </div>
                                    </div>
                                    <div id=":56" class="pt">
                                        <div id=":dp" style="zoom:1" class="uk">
                                            <div class="TI">
                                                <div id=":dq" class="T-I J-J5-Ji aCN J-J5-Ji T-I-awG T-I-ax7 L3 aCO"
                                                     role="button" tabindex="0" aria-expanded="false"
                                                     aria-haspopup="true" style="-webkit-user-select: none;"><img
                                                        id=":dr" email="davemcnelis@gmail.com" alt="David McNelis"
                                                        src="https://ssl.gstatic.com/ui/v1/icons/mail/profile_mask2_27px_noborder.png"
                                                        class="TJ UM">

                                                    <div title="Options" class="J-J5-Ji aCI"><img class="Tr c6" id=":ds"
                                                                                                  src="//assets/images/cleardot.gif"
                                                                                                  alt=""><img
                                                            class="aCR" src="//assets/images/cleardot.gif" alt=""></div>
                                                </div>
                                                <div class="aCH J-J5-Ji">
                                                    <div id=":dt" class="T-I J-J5-Ji Tp T-I-awG T-I-ax7 T-I-Js-IF L3"
                                                         title="Call phone" role="button" aria-label="Call phone"
                                                         aria-disabled="false" tabindex="0"
                                                         style="-webkit-user-select: none;"><img class="Ss T-I-J3"
                                                                                                 src="//assets/images/cleardot.gif"
                                                                                                 alt=""></div>
                                                    <div id=":du" class="T-I J-J5-Ji Tp T-I-awG T-I-ax7 T-I-Js-Gs L3"
                                                         title="Start video call" role="button"
                                                         aria-label="Start video call" aria-disabled="false"
                                                         tabindex="0" style="-webkit-user-select: none;"><img
                                                            class="UH T-I-J3" src="//assets/images/cleardot.gif" alt=""></div>
                                                </div>
                                            </div>
                                            <div id=":dv" class="uF" style="display: none;">
                                                <div id=":dw" class="uc"></div>
                                            </div>
                                            <div id=":dx" style="display: none;">
                                                <table cellpadding="0" class="uJ">
                                                    <tbody>
                                                    <tr class="uI">
                                                        <td id=":e4" class="uK">
                                                            <div class="uB" style="display:none">♫</div>
                                                        </td>
                                                        <td id=":dy" class="uh" role="link">
                                                            <div tabindex="0" class="Ae">
                                                                <div id=":dn" class="uf" dir="ltr">Set status here</div>
                                                            </div>
                                                        </td>
                                                        <td id=":dz" class="uO" tabindex="0" role="button"
                                                            aria-haspopup="true"><img class="uM" id=":e0"
                                                                                      src="//assets/images/cleardot.gif"
                                                                                      alt="Status menu"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div>
                                            <div></div>
                                        </div>
                                        <div>
                                            <div class="dF" role="complementary">
                                                <div class="dH"><input id=":e6" type="text" autocomplete="off"
                                                                       ignoreesc="true" title="Search people..."
                                                                       label="Search people..." itacorner="6,7"
                                                                       class="dI dG" placeholder="Search people..."
                                                                       aria-label="Search people..."
                                                                       aria-haspopup="true"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="afn"></div>
                                            <div class="afn"></div>
                                        </div>
                                        <div class="">
                                            <div class="vB">
                                                <table cellpadding="0" class="vH" id=":e7" tabindex="0" role="listbox">
                                                    <colgroup>
                                                        <col class="vA">
                                                        <col class="vw">
                                                    </colgroup>
                                                    <tbody id=":e9" class="vC " idlink="" role="option"
                                                           aria-labelledby=":ea :eb">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt c6 BUw1sf" id=":ea" src="//assets/images/cleardot.gif"
                                                                 alt="Available"></td>
                                                        <td id=":ec" class="vr"><span id=":eb" class="az1 "
                                                                                      pn="Daniel McNelis">Daniel McNelis</span><span
                                                                id=":eg" style="display: none;" class="vu">&nbsp; Invited</span>
                                                        </td>
                                                    </tr>
                                                    <tr id=":ed" style="display: none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":ee" class="vn"><span id=":eh"
                                                                                      style="display: none;">♫ </span><span
                                                                id=":ef" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":ei" class="vC " idlink="" role="option"
                                                           aria-labelledby=":ej :ek">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt df BUw1sf" id=":ej" src="//assets/images/cleardot.gif"
                                                                 alt="Offline"></td>
                                                        <td id=":el" class="vr"><span id=":ek" class="az1 "
                                                                                      pn="Mary McNelis">Mary McNelis</span><span
                                                                id=":ep" style="display: none;" class="vu">&nbsp; Invited</span>
                                                        </td>
                                                    </tr>
                                                    <tr id=":em" style="display: none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":en" class="vn"><span id=":eq"
                                                                                      style="display: none;">♫ </span><span
                                                                id=":eo" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":er" class="vC " idlink="" role="option"
                                                           aria-labelledby=":es :et">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt df BUw1sf" id=":es" src="//assets/images/cleardot.gif"
                                                                 alt="Offline"></td>
                                                        <td id=":eu" class="vr"><span id=":et" class="az1 "
                                                                                      pn="Michael McNelis">Michael McNelis</span><span
                                                                id=":ey" style="display: none;" class="vu">&nbsp; Invited</span>
                                                        </td>
                                                    </tr>
                                                    <tr id=":ev" style="display: none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":ew" class="vn"><span id=":ez"
                                                                                      style="display: none;">♫ </span><span
                                                                id=":ex" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":f0" class="vC " idlink="" role="option"
                                                           aria-labelledby=":f1 :f2">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt df BUw1sf" id=":f1" src="//assets/images/cleardot.gif"
                                                                 alt="Offline"></td>
                                                        <td id=":f3" class="vr"><span id=":f2" class="az1 "
                                                                                      pn="Stephan Yost">Stephan Yost</span><span
                                                                id=":f7" style="display: none;" class="vu">&nbsp; Invited</span>
                                                        </td>
                                                    </tr>
                                                    <tr id=":f4" style="display: none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":f5" class="vn"><span id=":f8"
                                                                                      style="display: none;">♫ </span><span
                                                                id=":f6" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":f9" class="vC " idlink="" role="option"
                                                           aria-labelledby=":fa :fb">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt de BUw1sf" id=":fa" src="//assets/images/cleardot.gif"
                                                                 alt=""></td>
                                                        <td id=":fc" class="vr"><span id=":fb" class="az1 "
                                                                                      pn="bntmp-4600331678">bntmp-4600331678</span><span
                                                                id=":fg" style="display: none;" class="vu">&nbsp; Invited</span>
                                                        </td>
                                                    </tr>
                                                    <tr id=":fd" style="display: none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":fe" class="vn"><span id=":fh"
                                                                                      style="display: none;">♫ </span><span
                                                                id=":ff" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":fi" class="vC " idlink="" role="option"
                                                           aria-labelledby=":fj :fk">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt de BUw1sf" id=":fj" src="//assets/images/cleardot.gif"
                                                                 alt=""></td>
                                                        <td id=":fl" class="vr"><span id=":fk" class="az1 "
                                                                                      pn="Brie Dellacroce-Pfannenbecker">Brie Dellacroce-Pfannenbecker</span><span
                                                                id=":fp" style="display: none;" class="vu">&nbsp; Invited</span>
                                                        </td>
                                                    </tr>
                                                    <tr id=":fm" style="display: none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":fn" class="vn"><span id=":fq"
                                                                                      style="display: none;">♫ </span><span
                                                                id=":fo" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":qb" class="vC " idlink="" role="option"
                                                           aria-labelledby=":qc :qd">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt de BUw1sf" id=":qc" src="//assets/images/cleardot.gif"
                                                                 alt=""></td>
                                                        <td id=":qe" class="vr"><span id=":qd" class="az1 ">David McNelis</span><span
                                                                id=":qi" style="display:none"
                                                                class="vu">&nbsp; Invited</span></td>
                                                    </tr>
                                                    <tr id=":qf" style="display:none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":qg" class="vn"><span id=":qj"
                                                                                      style="display:none">♫ </span><span
                                                                id=":qh" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":113" class="vC " idlink="" role="option"
                                                           aria-labelledby=":114 :115">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt de BUw1sf" id=":114"
                                                                 src="//assets/images/cleardot.gif" alt=""></td>
                                                        <td id=":116" class="vr"><span id=":115"
                                                                                       class="az1 ">Rick Sharp</span><span
                                                                id=":11a" style="display:none"
                                                                class="vu">&nbsp; Invited</span></td>
                                                    </tr>
                                                    <tr id=":117" style="display:none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":118" class="vn"><span id=":11b"
                                                                                       style="display:none">♫ </span><span
                                                                id=":119" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":11c" class="vC " idlink="" role="option"
                                                           aria-labelledby=":11d :11e">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt de BUw1sf" id=":11d"
                                                                 src="//assets/images/cleardot.gif" alt=""></td>
                                                        <td id=":11f" class="vr"><span id=":11e"
                                                                                       class="az1 ">Rick Sharp</span><span
                                                                id=":11j" style="display:none"
                                                                class="vu">&nbsp; Invited</span></td>
                                                    </tr>
                                                    <tr id=":11g" style="display:none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":11h" class="vn"><span id=":11k"
                                                                                       style="display:none">♫ </span><span
                                                                id=":11i" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody id=":gi" class="vC " idlink="" role="option"
                                                           aria-labelledby=":gj :gk">
                                                    <tr class="M3aZbb a8e">
                                                        <td><img class="vt de BUw1sf" id=":gj" src="//assets/images/cleardot.gif"
                                                                 alt=""></td>
                                                        <td id=":gl" class="vr"><span id=":gk" class="az1 "
                                                                                      pn="RUCCIO Bill">RUCCIO Bill</span><span
                                                                id=":gp" style="display: none;" class="vu">&nbsp; Invited</span>
                                                        </td>
                                                    </tr>
                                                    <tr id=":gm" style="display: none;" class="vm " dir="ltr">
                                                        <td></td>
                                                        <td id=":gn" class="vn"><span id=":gq"
                                                                                      style="display: none;">♫ </span><span
                                                                id=":go" class="vG"></span></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{! << chat }}
                            <div class="J-KU-Jg J-KU-Jg-Zc aj5" gh="gt" role="tablist" tabindex="0"
                                 style="-webkit-user-select: none;">
                                <div class="J-KU  J-KU-KO" tabid="chat" data-tooltip="Chat" aria-label="Chat" role="tab"
                                     aria-selected="true" tabindex="0" id=":58" style="-webkit-user-select: none;">
                                    <div class="aj2" aria-hidden="true">&nbsp;</div>
                                </div>
                                <div class="J-KU" tabid="gadgets" data-tooltip="Gadgets" aria-label="Gadgets"
                                     aria-selected="false" role="tab" id=":i"
                                     style="-webkit-user-select: none; display: none;">
                                    <div class="aj4" aria-hidden="true" style="-webkit-user-select: none;">&nbsp;</div>
                                </div>
                            </div>
                            {{! chat >> }}
                        </div> --}}
                        {{! contact search >> }}
                    </div>
                    {{! sidebar >> }}
                    {{! << workspace }}
                    <div class="x-nH nn workspace" {{!style="width: 1390px;"}}>

                        {{! << workspace one }}
                        <div class="x-nH">

                            {{! << workspace two }}
                            <div class="x-nH">

                                {{! << workspace three }}
                                <div class="x-ar4 x-z">

                                    {{! << ribbon bar }}
                                    <div id="x-:5" class="x-aeH ribbon" style="height: 39px;">

                                    </div>
                                    {{! ribbon bar >> }}

                                    {{! << main context }}
                                    <div class="x-AO">
                                        <div id=":4" class="Tm aeJ main">
                                            <div id=":2" class="aeF" style="min-height: 83px;">
                                                <div class="x-nH">
                                                    <div class="" style="overflow-x: hidden;">
                                                    {{outlet}}
                                                    </div>


                                                </div>
                                            </div>
                                            {{! << footer }}
                                            <div id=":3" class="aeG footer" style="">
                                                <div class="l2 ov">
                                                    <div id=":d9"></div>
                                                    <div id=":dd" class="aeV">
                                                        <div>
                                                            <div class="md mj">
                                                                <div><span dir="ltr">1.36 GB</span> (9%) of <span
                                                                        dir="ltr">15 GB</span> used
                                                                </div>
                                                                <div class="aeW"><a target="_blank"
                                                                                    href="https://accounts.google.com/b/0/ManageStorage?hl=en"
                                                                                    class="l8">Manage</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="aeU">
                                                        <div id=":dc">
                                                            <div>
                                                                <div class="ma"><span class="l3"><span dir="ltr">©2015&nbsp;Google</span></span>
                                                                    -
                                                                    <a href="https://www.google.com/intl/en/policies/terms/"
                                                                       target="_blank" class="l9">Terms</a> - <a
                                                                            href="https://www.google.com/intl/en/policies/privacy/"
                                                                            target="_blank" class="l9">Privacy</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id=":da" class="ae3">
                                                        <div>
                                                            <div class="l6">
                                                                <div>Last account activity: 1 hour ago</div>
                                                                <span id=":dh" class="l8 ou" tabindex="0" role="link">Details</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </div>
                                            </div>
                                            {{! footer >> }}
                                        </div>
                                        <div></div>
                                    </div>
                                    {{! main context >> }}
                                </div>
                                {{! workspace three >> }}
                            </div>
                            {{! workspace two >> }}
                        </div>
                        {{! workspace one >> }}
                    </div>
                    {{! workspace >> }}
                </div>
                {{! contents one >> }}
                <div class="dJ"></div>
            </div>
            {{! contents >> }}
        </div>
        {{! page two >> }}
    </div>
    {{! page one >>}}
</div>
{{! page >> }}


{{! Loading indicator }}
{{!-- <div class="vY nq">
    <div class="vX UC" style="display: none;">
        <div class="J-J5-Ji">
            <div class="UD"></div>
            <div class="vh">
                <div class="J-J5-Ji">
                    <div class="vZ L4XNt"><span class="v1">Loading...</span></div>
                </div>
                <div class="J-J5-Ji"></div>
            </div>
            <div class="UB"></div>
        </div>
    </div>
</div> --}}

{{!-- <div class="azu Ta J-M" style="display: none; left: 0px; top: 0px;">
</div> --}}

{{!-- <div class="azu Ta J-M" style="display: none; left: 0px; top: 0px;">    
</div> --}}

{{!-- <div class="azu Ta J-M" style="display: none; left: 0px; top: 0px;">
</div>
 --}}

{{!-- <div class="tq" style="left: 367px; top: -10000px;">
</div> --}}

{{!-- <div style="display: none;">
</div> --}}

{{!-- <div class="dw np">
    <div>
        <div class="x-nH xxx-resize" style="width: 1592px;">
            <div class="x-nH yyy-resize" style="height: 473px;">
                <div class="no" style="float: right;">
                    <div class="x-nH nn" style="width: 8px;"></div>
                    <div class="x-nH nn" style="width: 20px;"></div>
                </div>
                <div class="dJ"></div>
            </div>
        </div>
    </div>
</div> --}}

{{!-- <div class="aSs" style="visibility: hidden;">
    <div class="aSt"></div>
</div>
 --}}

{{!-- <div class="Af" style="display: none;">
    <div class="x-nH">
        <div class="x-nH" style="overflow: auto;"><textarea id=":dm" ignoreesc="true" class="Ah nr"
                                                          style="height: 36px;"></textarea></div>
    </div>
    <div class="Ag">Let people know what you're up to, or share links to photos, videos, and web pages.</div>
</div> --}}

{{!-- <div class="J-M agd aYO" style="display: none;">
</div>
 --}}

{{!-- <div class="J-M agd aYO" style="display: none;">
</div>
 --}}

{{! More drop down menu }}
{{!-- <div class="J-M aX0 aYO jQjAxd" style="-webkit-user-select: none; left: 679px; top: 98px; display: none;" role="menu" aria-haspopup="true">
    <div class="SK AX" style="-webkit-user-select: none; min-width: 64px;">
        <div class="J-N J-N-JE" role="menuitem" id=":lg" aria-hidden="true" aria-disabled="true" style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Mark all as read</div>
        </div>
        <div class="J-N" role="menuitem" id=":lh" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Mark as read</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":li" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Mark as unread</div>
        </div>
        <div class="J-N" role="menuitem" id=":lj" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Mark as important</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":lk" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Mark as not important</div>
        </div>
        <div class="J-N" role="menuitem" id=":ll" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Add to Tasks</div>
        </div>
        <div class="J-N" role="menuitem" id=":lm" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Add star</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":ln" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Remove star</div>
        </div>
        <div class="J-N" role="menuitem" id=":lo" aria-hidden="true" style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Archive</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":lp" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Not spam</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":lq" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Delete forever</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":lr" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Discard drafts</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":ls" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Create event</div>
        </div>
        <div class="J-N" role="menuitem" id=":lt" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Filter messages like these</div>
        </div>
        <div class="J-N" role="menuitem" id=":lu" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Mute</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":lv" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Unmute</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":lw" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Create filter</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":lx" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Forward all</div>
        </div>
        <div class="J-N J-N-JE" role="menuitem" id=":ly" aria-hidden="true" aria-disabled="true"
             style="-webkit-user-select: none; display: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Translate conversation</div>
        </div>
        <div class="b7o7Ic" style="display: none; -webkit-user-select: none;">
            <div class="J-Kh" style="-webkit-user-select: none;"></div>
            <div class="asd ja" style="-webkit-user-select: none;">Select messages to see more actions</div>
        </div>
    </div>
</div> --}}

{{! Refresh Tooltip }}
{{!-- <div class="T-ays T-ays-avH" role="tooltip" style="left: 295px; top: 99px;">
    <div class="T-ays-W095bf">Refresh</div>
    <div class="T-ays-hFsbo T-ays-atG" style="left: 32px;">
        <div class="T-ays-atD"></div>
        <div class="T-ays-atC"></div>
    </div>
</div> --}}

{{!-- <div class="Kj-JD-Jh" style="display: none; opacity: 0.5;">
</div>
 --}}

{{! Confirm deletion modal }}
{{!-- <div class="Kj-JD" tabindex="0" role="alertdialog" aria-labelledby=":lz"
     style="display: none; left: 528px; top: 171px;">
    <div class="Kj-JD-K7 Kj-JD-K7-GIHV4"><span class="Kj-JD-K7-K0" id=":lz" role="heading">Confirm deletion</span><span
            class="Kj-JD-K7-Jq" role="button" tabindex="0" aria-label="Close"></span></div>
    <div class="Kj-JD-Jz"></div>
    <div class="Kj-JD-Jl">
        <button name="ok" class="J-at1-auR">OK</button>
        <button name="cancel">Cancel</button>
    </div>
</div> --}}

{{!-- <span tabindex="0" style="display: none; position: absolute; left: 528px; top: 171px;"></span>
 --}}

{{! Drop files indicator }} 
{{!-- <div style="display:none" class="aC7">
    <div class="aC8">
        <div class="aC9">
            <div class="aDa">Drop files here</div>
        </div>
    </div>
</div> --}}

{{! Drop to attach indicator }} 
{{!-- <div style="display:none" class="aC7 aWP">
    <div class="aC8">
        <div class="aC9">
            <div class="aDa">Drop to attach</div>
        </div>
    </div>
</div> --}}

{{! Drop files indicator }} 
{{!-- <div style="display:none" class="aC7">
    <div class="aC8">
        <div class="aC9">
            <div class="aDa">Drop files here</div>
        </div>
    </div>
</div> --}}

{{!-- <div style="display:none" class="aC7 aWP">
    <div class="aC8">
        <div class="aC9">
            <div class="aDa">Drop to attach</div>
        </div>
    </div>
</div>
 --}}

{{!-- <div class="J-M agd aYO" style="display: none;"></div>
 --}}

{{!-- <div class="J-M agd aYO" style="display: none;"></div>
 --}}

{{!-- <div class="J-M aX0 aYO" style="display: none;"></div>
 --}}

{{!-- <div class="J-M asi aYO jQjAxd" id=":2y" style="-webkit-user-select: none; visibility: visible; left: 1300px; top: 98px; display: none;" role="menu" aria-haspopup="true">
    <div class="SK AX" style="-webkit-user-select: none;">
        <div class="J-awr" id=":2s" style="-webkit-user-select: none;">Display density:</div>
        <div class="J-N J-Ks aMP" id=":2t" aria-describedby=":2s" role="menuitemcheckbox" aria-checked="false"
             style="-webkit-user-select: none;">Comfortable (on larger displays)
        </div>
        <div class="J-N J-Ks aMT" id=":2u" aria-describedby=":2s" role="menuitemcheckbox" aria-checked="false"
             style="-webkit-user-select: none;">Cozy (on larger displays)
        </div>
        <div class="J-N J-Ks aMV J-Ks-KO" id=":2v" aria-describedby=":2s" role="menuitemcheckbox" aria-checked="true"
             style="-webkit-user-select: none;">Compact
        </div>
        <div class="J-Kh" aria-disabled="true" role="separator" id=":vc" style="-webkit-user-select: none;"></div>
        <div class="J-N aMQ" id="101:settings" role="menuitem" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Configure inbox</div>
        </div>
        <div class="J-Kh" aria-disabled="true" role="separator" id=":ve" style="-webkit-user-select: none;"></div>
        <div class="J-N aMS" id="ms" role="menuitem" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Settings</div>
        </div>
        <div class="J-N aMU" id="96:settings" role="menuitem" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Themes</div>
        </div>
        <div class="J-N HjAUZe" id="pwcb" style="display: none; -webkit-user-select: none;" role="menuitem"
             aria-hidden="true">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Select a background image</div>
        </div>
        <div class="J-N HjAUZe" id="pwsb" style="display: none; -webkit-user-select: none;" role="menuitem"
             aria-hidden="true">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Share your theme</div>
        </div>
        <div class="J-N hH" id=":2w" role="menuitem" style="-webkit-user-select: none;">
            <div class="J-N-Jz" style="-webkit-user-select: none;">Help</div>
        </div>
    </div>
</div> --}}

{{!-- <div class="Kj-JD-Jh" style="display: none; opacity: 0.5;">
</div>
 --}}

{{!-- <div class="Kj-JD" tabindex="0" role="alertdialog" aria-labelledby=":zb" style="display: none; left: 528px; top: 171px;">
    <div class="Kj-JD-K7 Kj-JD-K7-GIHV4">
        <span class="Kj-JD-K7-K0" id=":zb" role="heading">Confirm deletion</span>
        <span class="Kj-JD-K7-Jq" role="button" tabindex="0" aria-label="Close"></span>
    </div>
    <div class="Kj-JD-Jz">
    </div>
    <div class="Kj-JD-Jl">
        <button name="ok" class="J-at1-auR">OK</button>
        <button name="cancel">Cancel</button>
    </div>
</div>
 --}}

{{!-- <span tabindex="0" style="display: none; position: absolute; left: 528px; top: 171px;">
</span> --}}

{{!-- <div style="display:none" class="aC7">
    <div class="aC8">
        <div class="aC9">
            <div class="aDa">Drop files here</div>
        </div>
    </div>
</div> --}}

{{!-- <div style="display:none" class="aC7 aWP">
    <div class="aC8">
        <div class="aC9">
            <div class="aDa">Drop to attach</div>
        </div>
    </div>
</div> --}}

{{!-- <div style="display:none" class="aC7">
    <div class="aC8">
        <div class="aC9">
            <div class="aDa">Drop files here</div>
        </div>
    </div>
</div> --}}

{{!-- <div style="display:none" class="aC7 aWP">
    <div class="aC8">
        <div class="aC9">
            <div class="aDa">Drop to attach</div>
        </div>
    </div>
</div> --}}
