{{!-- app/templates/master.hbs --}}
<div class="master">
  <div class="master-ribbon">
    {{outlet "master-ribbon"}} 
  </div>
  <div class="master-content">
    <div class="master-inner">
      {{outlet "master-content"}}      
    </div>
  </div>
</div>
