<div class="sidebar">
  <div class="sidebar-ribbon">
    {{outlet "sidebar-ribbon"}} 
  </div>
  <div class="sidebar-main">
    <div class="sidebar-inner">
      {{outlet "sidebar-main"}}      
    </div>
  </div>
</div>
