<div class="workspace">
    <div class="workspace-ribbon">
      {{outlet "workspace-ribbon"}}
    </div>
    <div class="workspace-main">
      <div class="workspace-inner">
        {{outlet "workspace-main"}}
        {{outlet}}
      </div> 
    </div> 
</div>